<img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY" style="display:block; margin:auto;" width='400' height='200'>

<p style="background-color:romance; color:plum; font-size:220%; text-align:center; border-radius:10px 10px; font-family:newtimeroman; line-height:1.4; font-weight:bold; text-transform: uppercase;">WAY TO REINVENT YOURSELF</p>

<img src="https://i.ibb.co/wJW61Y2/Used-cars.jpg" style="display:block; margin:auto;" width='300' height='200'>

<p style="background-color:romance; color:jaguar; font-size:3em; text-align:center; border-radius:10px 10px; font-family:newtimeroman; line-height:1.4; font-weight:bolder; text-transform:capitalize;"><strong>The Capstone Project of Data Analytics Module</strong></p>

<p style="background-color:romance; color:jaguar; font-size:2em; text-align:center; border-radius:10px 10px; font-family:newtimeroman; line-height:1.4; font-weight:normal; text-transform:capitalize;">Car Price Prediction EDA</p> 

<basefont size="2" face ="arial, verdana, sans-serif" color="jaguar">

<a id="content"></a>
<p style="background-color:plum; color:floralwhite; font-size:175%; text-align:center; border-radius:10px 10px; font-family:newtimeroman; line-height: 1.4; font-weight:bold; text-transform:capitalize;">Content</p>

* [Introduction](#0)
<!-- * [About Dataset](#1) -->
* [Importing Related Libraries](#2)
* [Recognizing & Understanding Data](#3)
* [The End of the Project](#10)

<a id="0"></a>
<p style="background-color:plum; color:floralwhite; font-size:175%; text-align:center; border-radius:10px 10px; font-family:newtimeroman; line-height: 1.4; font-weight:bold; text-transform:capitalize;">Introduction</p>

<a href="#content" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="font-size:22px; font-weight:bold;">Introduction</p> 

Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

<p style="font-size:18px; font-weight:bold;">Some Reminders on Exploratory data analysis (EDA)</p> 

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to 'Data Cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to 'Filling Data', in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation is done as well.
* **The third part** is related to 'Handling Outliers of Data' via Visualization libraries. So, some insights will be extracted.

**``NOTE:``**  However, you are free to create your own style. You do NOT have to stick to the steps above. We, the DA & DV instructors, recommend you study each part separately to create a source notebook for each part title for your further studies.

<a id="2"></a>
<p style="background-color:plum; color:floralwhite; font-size:175%; text-align:center; border-radius:10px 10px; font-family:newtimeroman; line-height: 1.4; font-weight:bold; text-transform:capitalize;">Importing Related Libraries</p>

<a href="#content" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- Once you've Installed NumPy and Pandas etc. you can Import them as a Library.
- Reading the Data from File

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import scipy.stats as stats
from scipy.stats import skew, kurtosis

# to get rid of the warnings
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

# Environment settings: 
pd.set_option('display.float_format', lambda x: f'{x:.3f}')
# pd.set_option('display.float_format', lambda x: '%.6f'%x)
# pd.options.display.float_format = '{:.3f}'.format
# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)
# Set it None to display all rows in the dataframe
pd.set_option('display.max_rows', 100)

In [2]:
# !pip install skimpy
from skimpy import clean_columns

## Reading the Data from File

In [3]:
df_origin = pd.read_json('./scout_car.json', lines=True)
df = df_origin.copy()
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

<a id="3"></a>
<p style="background-color:plum; color:floralwhite; font-size:175%; text-align:center; border-radius:10px 10px; font-family:newtimeroman; line-height: 1.4; font-weight:bold; text-transform:capitalize;">Recognizing and Understanding Data</p>

<a href="#content" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

01. Reading the Data from File
02. Try to understand what the data looks like
03. Examining the Data
04. Fixing a data type
05. Combining object columns

## Try to understand what the data looks like
- Check the head, shape, data-types of the features.
- Check if there are some dublicate rows or not. If there are, then drop them. 
- Check the statistical values of features.
- Basically check the missing values. (NaN, None)
- If needed, rename the columns' names for easy use.

### Check the head, shape, data-types of the features.

In [4]:
df.shape

(15919, 54)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

### Check if there are some dublicate rows or not. If there are, then drop them.

In [6]:
# error rising because of list type
# df.duplicated().sum()
# df.drop_duplicates()

### Check the statistical values of features.

In [7]:
df.describe().T.style.background_gradient(cmap='PiYG', axis=1)

In [8]:
df.describe(include='O').T

,count,unique,top,freq
url,15919,15919,https://www.autoscout24.com//offers/audi-a1-sp...,1
make_model,15919,9,Audi A3,3097
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
km,15919,6690,10 km,1045
registration,15919,48,-/-,1597
prev_owner,9091,4,1 previous owner,8294
hp,15919,81,85 kW,2542
Type,15917,169,"[, Used, , Diesel (Particulate Filter)]",3475
Previous Owners,9279,102,\n1\n,8101
Next Inspection,3535,1399,\n04/2022\n,62
Inspection new,3932,202,"[\nYes\n, \nEuro 6\n]",523
Warranty,10499,515,"[\n, \n, \nEuro 6\n]",1868
Full Service,8215,122,"[\n, \n, \n4 (Green)\n]",2235
Non-smoking Vehicle,7177,94,"[\n, \n]",3647
null,15919,1,[],15919
Make,15919,3,\nOpel\n,7343
Model,15919,9,"[\n, A3, \n]",3097
Offer Number,12744,11440,[\nLT67679\n],27
First Registration,14322,4,"[\n, 2018, \n]",4522
Body Color,15322,14,"[\n, Black, \n]",3745
Paint Type,10147,3,[\nMetallic\n],9794
Body Color Original,12160,1927,[\nOnyx Schwarz\n],338
Upholstery,12199,46,"[\nCloth, Black\n]",5821
Body,15859,9,"[\n, Sedans, \n]",7903
Nr. of Doors,15707,6,[\n5\n],11575
Nr. of Seats,14942,6,[\n5\n],13336
Model Code,4978,232,[\n0035/BCB\n],268
Gearing Type,15919,3,"[\n, Manual, \n]",8153
Displacement,15423,77,"[\n1,598 cc\n]",4761
Cylinders,10239,7,[\n4\n],8105
Weight,8945,434,"[\n1,163 kg\n]",574
Drive chain,9061,3,[\nfront\n],8886
Fuel,15919,77,"[\n, Diesel (Particulate Filter), \n]",4315
Consumption,14013,881,"[[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...",304
CO2 Emission,14111,123,[\n120 g CO2/km (comb)\n],740
Emission Class,12898,7,[\nEuro 6\n],10139
\nComfort & Convenience\n,14999,6198,"[Air conditioning, Electrical side mirrors, Hi...",216
\nEntertainment & Media\n,14545,346,"[Bluetooth, Hands-free equipment, On-board com...",1282
\nExtras\n,12957,659,[Alloy wheels],3245
\nSafety & Security\n,14937,4443,"[ABS, Central door lock, Daytime running light...",538
description,15919,12874,[],636
Emission Label,3985,6,[\n4 (Green)\n],3553
Gears,11207,10,[\n6\n],5822
Country version,7586,23,[\nGermany\n],4502
Electricity consumption,137,1,[\n0 kWh/100 km (comb)\n],137
Last Service Date,566,266,"[\n02/2019\n, \nEuro 6\n]",23
Other Fuel Types,880,1,"[[], [], []]",880
Availability,635,15,\nin 90 days from ordering\n,196
Last Timing Belt Service Date,16,15,[\n04/2016\n],2
Available from,272,46,\n31/08/19\n,98

### Basically check the missing values. (NaN, None)-(isna(), mean())

In [9]:
df.isna().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [10]:
df.isna().mean()*100

url                               0.000
make_model                        0.000
short_description                 0.289
body_type                         0.377
price                             0.000
vat                              28.350
km                                0.000
registration                      0.000
prev_owner                       42.892
kW                              100.000
hp                                0.000
Type                              0.013
Previous Owners                  41.711
Next Inspection                  77.794
Inspection new                   75.300
Warranty                         34.047
Full Service                     48.395
Non-smoking Vehicle              54.916
null                              0.000
Make                              0.000
Model                             0.000
Offer Number                     19.945
First Registration               10.032
Body Color                        3.750
Paint Type                       36.259
Body Color Original              23.613
Upholstery                       23.368
Body                              0.377
Nr. of Doors                      1.332
Nr. of Seats                      6.137
Model Code                       68.729
Gearing Type                      0.000
Displacement                      3.116
Cylinders                        35.681
Weight                           43.809
Drive chain                      43.081
Fuel                              0.000
Consumption                      11.973
CO2 Emission                     11.357
Emission Class                   18.977
\nComfort & Convenience\n         5.779
\nEntertainment & Media\n         8.631
\nExtras\n                       18.607
\nSafety & Security\n             6.169
description                       0.000
Emission Label                   74.967
Gears                            29.600
Country version                  52.346
Electricity consumption          99.139
Last Service Date                96.445
Other Fuel Types                 94.472
Availability                     96.011
Last Timing Belt Service Date    99.899
Available from                   98.291
dtype: float64

In [11]:
# Are all rows of Data Column NaN
df.isna().all(axis=0).value_counts()

False    53
True      1
dtype: int64

In [12]:
# Show all rows of Data Column NaN
df.isna().all()[df.isna().all()]

kW    True
dtype: bool

In [13]:
df['kW'].notna().sum()

0

In [14]:
df.query('kW.notna()')

Empty DataFrame
Columns: [url, make_model, short_description, body_type, price, vat, km, registration, prev_owner, kW, hp, Type, Previous Owners, Next Inspection, Inspection new, Warranty, Full Service, Non-smoking Vehicle, null, Make, Model, Offer Number, First Registration, Body Color, Paint Type, Body Color Original, Upholstery, Body, Nr. of Doors, Nr. of Seats, Model Code, Gearing Type, Displacement, Cylinders, Weight, Drive chain, Fuel, Consumption, CO2 Emission, Emission Class,
Comfort & Convenience
,
Entertainment & Media
,
Extras
,
Safety & Security
, description, Emission Label, Gears, Country version, Electricity consumption, Last Service Date, Other Fuel Types, Availability, Last Timing Belt Service Date, Available from]
Index: []

In [15]:
# Show Drop all rows of Data Column NaN, Show Drop all rows of Data Column at least 1 NON-NULL
df.dropna(axis=1, how='all').shape, df.dropna(axis=1, thresh=1).shape

((15919, 53), (15919, 53))

### If needed, rename the columns' names for easy use.

In [16]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [17]:
# cleaning column names using skimpy clean_columns method
df = clean_columns(df)

42 column names have been cleaned

In [18]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'k_w', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co_2_emission', 'emission_class', 'comfort_&_convenience',
       'entertainment_&_media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

# PART- 1 `( Data Cleaning )`

## Examining the Data
- Look at the counts of columns that have OBJECT datatype 
- Assign the Columns (Features) of object data type as** **`"object_col"`**
- Detect strange values First Look
- Detect strange values apart from the NaN Values.(isin(),Count(),Sum(),Any())
- Drop Unique Check Duplicates
- Drop High Null Percentages

### Look at the counts of columns that have OBJECT datatype
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html

In [19]:
df.select_dtypes('O').sort_index(axis=1).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   availability                   635 non-null    object
 1   available_from                 272 non-null    object
 2   body                           15859 non-null  object
 3   body_color                     15322 non-null  object
 4   body_color_original            12160 non-null  object
 5   body_type                      15859 non-null  object
 6   co_2_emission                  14111 non-null  object
 7   comfort_&_convenience          14999 non-null  object
 8   consumption                    14013 non-null  object
 9   country_version                7586 non-null   object
 10  cylinders                      10239 non-null  object
 11  description                    15919 non-null  object
 12  displacement                   15423 non-null  object
 13  drive_chain                    9061 non-null   object
 14  electricity_consumption        137 non-null    object
 15  emission_class                 12898 non-null  object
 16  emission_label                 3985 non-null   object
 17  entertainment_&_media          14545 non-null  object
 18  extras                         12957 non-null  object
 19  first_registration             14322 non-null  object
 20  fuel                           15919 non-null  object
 21  full_service                   8215 non-null   object
 22  gearing_type                   15919 non-null  object
 23  gears                          11207 non-null  object
 24  hp                             15919 non-null  object
 25  inspection_new                 3932 non-null   object
 26  km                             15919 non-null  object
 27  last_service_date              566 non-null    object
 28  last_timing_belt_service_date  16 non-null     object
 29  make                           15919 non-null  object
 30  make_model                     15919 non-null  object
 31  model                          15919 non-null  object
 32  model_code                     4978 non-null   object
 33  next_inspection                3535 non-null   object
 34  non_smoking_vehicle            7177 non-null   object
 35  nr_of_doors                    15707 non-null  object
 36  nr_of_seats                    14942 non-null  object
 37  null                           15919 non-null  object
 38  offer_number                   12744 non-null  object
 39  other_fuel_types               880 non-null    object
 40  paint_type                     10147 non-null  object
 41  prev_owner                     9091 non-null   object
 42  previous_owners                9279 non-null   object
 43  registration                   15919 non-null  object
 44  safety_&_security              14937 non-null  object
 45  short_description              15873 non-null  object
 46  type                           15917 non-null  object
 47  upholstery                     12199 non-null  object
 48  url                            15919 non-null  object
 49  vat                            11406 non-null  object
 50  warranty                       10499 non-null  object
 51  weight                         8945 non-null   object
dtypes: object(52)
memory usage: 6.3+ MB

### Assign the Columns (Features) of object data type as** **``"object_col"``

In [20]:
# df.columns[df.dtypes == 'O']
# df.select_dtypes('O').columns
# df.describe(include='O').columns

object_col = df.select_dtypes('O').sort_index(axis=1).columns
object_col

Index(['availability', 'available_from', 'body', 'body_color',
       'body_color_original', 'body_type', 'co_2_emission',
       'comfort_&_convenience', 'consumption', 'country_version', 'cylinders',
       'description', 'displacement', 'drive_chain', 'electricity_consumption',
       'emission_class', 'emission_label', 'entertainment_&_media', 'extras',
       'first_registration', 'fuel', 'full_service', 'gearing_type', 'gears',
       'hp', 'inspection_new', 'km', 'last_service_date',
       'last_timing_belt_service_date', 'make', 'make_model', 'model',
       'model_code', 'next_inspection', 'non_smoking_vehicle', 'nr_of_doors',
       'nr_of_seats', 'null', 'offer_number', 'other_fuel_types', 'paint_type',
       'prev_owner', 'previous_owners', 'registration', 'safety_&_security',
       'short_description', 'type', 'upholstery', 'url', 'vat', 'warranty',
       'weight'],
      dtype='object')

### Detect strange values First Look

<a href="https://numpy.org/doc/stable/reference/arrays.scalars.html"><p style="font-size:22px; font-weight:bold;">Scalars</p></a>
- https://numpy.org/doc/stable/reference/arrays.scalars.html)

`Array scalars` live in a hierarchy `(see the Figure below)` of data types. They can be detected using the hierarchy: For example, `isinstance(val, np.generic)` will return `True` if val is an `array scalar object`. Alternatively, what kind of array scalar is present can be determined using other members of the data type hierarchy. Thus, for example `isinstance(val, np.complexfloating)` will return `True` if val is a `complex valued type`, while `isinstance(val, np.flexible)` will return `true` if val is one of the `flexible` itemsize array types `(str_, bytes_, void)`.

https://numpy.org/doc/stable/reference/arrays.dtypes.html

<img src="https://numpy.org/doc/stable/_images/dtype-hierarchy.png" style="display:block; margin:auto;" width='600' height='200'>

- `numpy`: 
  * https://numpy.org/doc/stable/reference/arrays.dtypes.html
- `pandas`:
  * https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes
  * https://pandas.pydata.org/docs/user_guide/basics.html#selecting-columns-based-on-dtype


- **apply access `column`: detects general `column data type` - use `dtype or dtypes`**
  * df.apply(lambda x: x.dtype) 
  * df.apply(lambda x: x.dtypes)
  * df.apply(lambda x: x.dtypes==None)
  * df.apply(lambda x: x.dtypes==list)

- **applymap access `data`: detects the actual `data type` - use `type()`**
  * df.applymap(lambda x: type(x))
  * df.applymap(lambda x: type(x)==list)
  * df.applymap(lambda x: type(x)==str)

- **specify as a condition**
  * df.applymap(lambda x: 'String' if type(x)==str else 'Not String')
  * df.applymap(lambda x: 'String' if isinstance(x, str) else 'Not String')

In [21]:
def first_look(col):
    print('column name : ', col)
    print('--------------------------------')
    print('Per_of_Nulls   : ', '%', round(df[col].isnull().sum() / df.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df[col].isnull().sum())
    print('Num_of_Uniques : ', df[col].nunique())
    print('Duplicates     : ', df.duplicated(subset = None, keep = 'first').sum(), end='\n\n')
    print(df[col].value_counts(dropna = False).sort_index())
    print('END*****************************', end='\n\n')

In [22]:
df.applymap(lambda x: type(x))

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,k_w,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
0,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>
1,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'NoneType'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>
2,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'str'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>
3,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'NoneType'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>
4,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'NoneType'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'str'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'NoneType'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>
15915,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'str'>,<class 'float'>,<class 'float'>
15916,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'float'>,<class 'float'>
15917,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'NoneType'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>
15918,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'str'>,<class 'list'>,<class 'str'>,<class 'float'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'list'>,<class 'str'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'list'>,<class 'float'>,<class 'list'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>

#### Convert List type object to str type all Column

In [23]:
# Convert List type object to str type all Column
df = df.applymap(lambda x: ','.join(map(str, x)) if isinstance(x, list) else x)
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,k_w,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,",Used,,Diesel (Particulate Filter)",\n2\n,"\n06/2021\n,\n99 g CO2/km (comb)\n","\nYes\n,\nEuro 6\n","\n,\n,\n4 (Green)\n","\n,\n","\n,\n",,\nAudi\n,"\n,A1,\n",\nLR-062483\n,"\n,2016,\n","\n,Black,\n",\nMetallic\n,\nMythosschwarz\n,"\nCloth, Black\n","\n,Sedans,\n",\n5\n,\n5\n,\n0588/BDF\n,"\n,Automatic,\n","\n1,422 cc\n",\n3\n,"\n1,220 kg\n",\nfront\n,"\n,Diesel (Particulate Filter),\n","['3.8 l/100 km (comb)'],['4.3 l/100 km (city)'...",\n99 g CO2/km (comb)\n,\nEuro 6\n,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...","\n,Sicherheit:, ,Deaktivierung für Beifahrer-A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,",Used,,Gasoline",NaN,NaN,NaN,NaN,NaN,NaN,,\nAudi\n,"\n,A1,\n",NaN,"\n,2017,\n","\n,Red,\n",NaN,NaN,"\nCloth, Grey\n","\n,Sedans,\n",\n3\n,\n4\n,\n0588/BCY\n,"\n,Automatic,\n","\n1,798 cc\n",\n4\n,"\n1,255 kg\n",\nfront\n,"\n,Gasoline,\n","['5.6 l/100 km (comb)'],['7.1 l/100 km (city)'...",\n129 g CO2/km (comb)\n,\nEuro 6\n,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",\nLangstreckenfahrzeug daher die hohe Kilomete...,\n4 (Green)\n,\n7\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,",Used,,Diesel (Particulate Filter)",\n1\n,NaN,NaN,"\n,\n,\n99 g CO2/km (comb)\n",NaN,NaN,,\nAudi\n,"\n,A1,\n",\nAM-95365\n,"\n,2016,\n","\n,Black,\n",\nMetallic\n,\nmythosschwarz metallic\n,"\nCloth, Black\n","\n,Sedans,\n",\n4\n,\n4\n,NaN,"\n,Automatic,\n","\n1,598 cc\n",NaN,NaN,\nfront\n,"\n,Diesel (Particulate Filter),\n","['3.8 l/100 km (comb)'],['4.4 l/100 km (city)'...",\n99 g CO2/km (comb)\n,\nEuro 6\n,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...","\n,Fahrzeug-Nummer: AM-95365, ,Ehem. UPE 24.64...",\n4 (Green)\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,",Used,,Diesel (Particulate Filter)",\n1\n,NaN,NaN,NaN,"\n,\n,\n99 g CO2/km (comb)\n","\n,\n,\nEuro 6\n",,\nAudi\n,"\n,A1,\n",NaN,"\n,2016,\n","\n,Brown,\n",\nMetallic\n,NaN,NaN,"\n,Sedans,\n",\n3\n,\n4\n,NaN,"\n,Automatic,\n","\n1,422 cc\n",\n3\n,"\n1,195 kg\n",NaN,"\n,Diesel (Particulate Filter),\n","['3.8 l/100 km (comb)'],['4.3 l/100 km (city)'...",\n99 g CO2/km (comb)\n,\nEuro 6\n,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...","\nAudi A1: ,- 1e eigenaar ,- Perfecte staat: s...",NaN,\n6\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,",Used,,Diesel (Particulate Filter)",\n1\n,NaN,"\nYes\n,\n109 g CO2/km (comb)\n","\n,\n,\nEuro 6\n","\n,\n,\n4 (Green)\n","\n,\n",,\nAudi\n,"\n,A1,\n",\nC1626\n,"\n,2016,\n","\n,Black,\n",\nMetallic\n,\nMythosschwarz Metallic\n,"\nCloth, Black\n","\n,Sedans,\n",\n5\n,\n5\n,\n0588/BDF\n,"\n,Automatic,\n","\n1,422 cc\n",\n3\n,NaN,\nfront\n,"\n,Diesel (Particulate Filter),\n","['4.1 l/100 km (comb)'],['4.6 l/100 km (city)'...",\n109 g CO2/km (comb)\n,\nEuro 6\n,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...","\n,Technik & Sicherheit:,Xenon plus,Klimaautom...",NaN,NaN,\nGermany\n,NaN,NaN,NaN,NaN,NaN,NaN

#### Strip strange values apart from beginning and end

In [24]:
# access data: python strip - Strip strange values apart from beginning and end
df = df.applymap(lambda x: x.strip('''\n' ".,-_/][''') if isinstance(x, str) else x)

In [25]:
# access Column: Series str.replace - Be Careful Chance in all data replace strange values apart from data
# You would use dtypes with a DataFrame to get the dtype for each column/Series.(Or Numpy dtype)
# df.apply(lambda x: x.str.replace(',?\n,?', '') if x.dtype=='O' else x).head(2)

In [26]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,k_w,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"Used,,Diesel (Particulate Filter)",2,"06/2021\n,\n99 g CO2/km (comb)","Yes\n,\nEuro 6",4 (Green),,,,Audi,A1,LR-062483,2016,Black,Metallic,Mythosschwarz,"Cloth, Black",Sedans,5,5,0588/BDF,Automatic,"1,422 cc",3,"1,220 kg",front,Diesel (Particulate Filter),"3.8 l/100 km (comb)'],['4.3 l/100 km (city)'],...",99 g CO2/km (comb),Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...","Sicherheit:, ,Deaktivierung für Beifahrer-Airb...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"Used,,Gasoline",NaN,NaN,NaN,NaN,NaN,NaN,,Audi,A1,NaN,2017,Red,NaN,NaN,"Cloth, Grey",Sedans,3,4,0588/BCY,Automatic,"1,798 cc",4,"1,255 kg",front,Gasoline,"5.6 l/100 km (comb)'],['7.1 l/100 km (city)'],...",129 g CO2/km (comb),Euro 6,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",Langstreckenfahrzeug daher die hohe Kilometerl...,4 (Green),7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"Used,,Diesel (Particulate Filter)",1,NaN,NaN,99 g CO2/km (comb),NaN,NaN,,Audi,A1,AM-95365,2016,Black,Metallic,mythosschwarz metallic,"Cloth, Black",Sedans,4,4,NaN,Automatic,"1,598 cc",NaN,NaN,front,Diesel (Particulate Filter),"3.8 l/100 km (comb)'],['4.4 l/100 km (city)'],...",99 g CO2/km (comb),Euro 6,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...","Fahrzeug-Nummer: AM-95365, ,Ehem. UPE 24.640 E...",4 (Green),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"Used,,Diesel (Particulate Filter)",1,NaN,NaN,NaN,99 g CO2/km (comb),Euro 6,,Audi,A1,NaN,2016,Brown,Metallic,NaN,NaN,Sedans,3,4,NaN,Automatic,"1,422 cc",3,"1,195 kg",NaN,Diesel (Particulate Filter),"3.8 l/100 km (comb)'],['4.3 l/100 km (city)'],...",99 g CO2/km (comb),Euro 6,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...","Audi A1: ,- 1e eigenaar ,- Perfecte staat: sch...",NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"Used,,Diesel (Particulate Filter)",1,NaN,"Yes\n,\n109 g CO2/km (comb)",Euro 6,4 (Green),,,Audi,A1,C1626,2016,Black,Metallic,Mythosschwarz Metallic,"Cloth, Black",Sedans,5,5,0588/BDF,Automatic,"1,422 cc",3,NaN,front,Diesel (Particulate Filter),"4.1 l/100 km (comb)'],['4.6 l/100 km (city)'],...",109 g CO2/km (comb),Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...","Technik & Sicherheit:,Xenon plus,Klimaautomati...",NaN,NaN,Germany,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# df.select_dtypes('number').nunique()
df.select_dtypes('O').nunique()

url                              15919
make_model                           9
short_description                 9971
body_type                            9
vat                                  2
km                                6690
registration                        48
prev_owner                           4
hp                                  81
type                               169
previous_owners                    101
next_inspection                   1384
inspection_new                     201
warranty                           506
full_service                       121
non_smoking_vehicle                 93
null                                 1
make                                 3
model                                9
offer_number                     11438
first_registration                   4
body_color                          14
paint_type                           3
body_color_original               1915
upholstery                          46
body                                 9
nr_of_doors                          6
nr_of_seats                          6
model_code                         232
gearing_type                         3
displacement                        77
cylinders                            7
weight                             434
drive_chain                          3
fuel                                77
consumption                        875
co_2_emission                      123
emission_class                       7
comfort_&_convenience             6198
entertainment_&_media              346
extras                             659
safety_&_security                 4443
description                      12850
emission_label                       6
gears                               10
country_version                     23
electricity_consumption              1
last_service_date                  255
other_fuel_types                     1
availability                        15
last_timing_belt_service_date       15
available_from                      46
dtype: int64

In [28]:
# Error because of list type in Column
pd.set_option('display.max_rows', 100)
for col in object_col:
    first_look(col)

column name :  availability
--------------------------------
Per_of_Nulls   :  % 96.01
Num_of_Nulls   :  15284
Num_of_Uniques :  15
Duplicates     :  0

in 1 day from ordering          51
in 120 days from ordering      182
in 14 days from ordering        24
in 150 days from ordering       18
in 180 days from ordering       24
in 2 days from ordering         16
in 21 days from ordering         8
in 3 days from ordering         35
in 4 days from ordering          2
in 42 days from ordering        10
in 5 days from ordering         35
in 6 days from ordering          1
in 60 days from ordering        13
in 7 days from ordering         20
in 90 days from ordering       196
NaN                          15284
Name: availability, dtype: int64
END*****************************

column name :  available_from
--------------------------------
Per_of_Nulls   :  % 98.29
Num_of_Nulls   :  15647
Num_of_Uniques :  46
Duplicates     :  0

01/07/19       11
01/08/19        3
01/09/19        1
02/07/19        1
03/08/19        1
03/12/19        1
04/07/19        2
05/07/19        2
05/08/19        2
05/12/19        1
06/12/19        1
08/07/19        4
10/07/19        1
10/09/19        6
10/10/19        1
10/11/19        5
10/12/19        1
11/08/19        1
14/09/19        1
15/07/19        3
15/08/19       24
16/07/19        2
16/08/19        1
16/09/19       14
17/08/19        1
18/07/19        1
18/08/19        1
19/07/19        1
19/08/19        7
20/07/19        2
24/07/19        1
24/08/19        2
24/09/19        1
25/10/19        3
26/06/19        5
27/06/19        5
27/07/19        1
28/06/19       10
29/06/19       12
29/07/19        1
29/09/19        1
30/06/19        2
30/07/19       25
30/09/19        1
31/08/19       98
31/10/19        1
NaN         15647
Name: available_from, dtype: int64
END*****************************

column name :  body
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Num_of_Uniques :  9
Duplicates     :  0

Compact          3153
Convertible         8
Coupe              25
Off-Road           56
Other             290
Sedans           7903
Station wagon    3553
Transporter        88
Van               783
NaN                60
Name: body, dtype: int64
END*****************************

column name :  body_color
--------------------------------
Per_of_Nulls   :  % 3.75
Num_of_Nulls   :  597
Num_of_Uniques :  14
Duplicates     :  0

Beige      108
Black     3745
Blue      1431
Bronze       6
Brown      289
Gold         2
Green      154
Grey      3505
Orange       3
Red        957
Silver    1647
Violet      18
White     3406
Yellow      51
NaN        597
Name: body_color, dtype: int64
END*****************************

column name :  body_color_original
--------------------------------
Per_of_Nulls   :  % 23.61
Num_of_Nulls   :  3759
Num_of_Uniques :  1915
Duplicates     :  0

(0C0C) Monsungrau Metallic        1
(B4B4) Cortinaweiss               1
(NNP)                             1
(Silber) - Licht Grau             2
(weiß) Abalone Weiss              1
                               ...
wählbar - ggf. mit Aufpreis     118
wählbar -ggfl. mit Aufpreis       1
wählbar, ggf gegen Aufpreis       2
zwart                             2
NaN                            3759
Name: body_color_original, Length: 1916, dtype: int64
END*****************************

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Num_of_Uniques :  9
Duplicates     :  0

Compact          3153
Convertible         8
Coupe              25
Off-Road           56
Other             290
Sedans           7903
Station wagon    3553
Transporter        88
Van               783
None               60
Name: body_type, dtype: int64
END*****************************

column name :  co_2_emission
--------------------------------
Per_of_Nulls   :  % 11.36
Num_of_Nulls   :  1808
Num_of_Uniques :  123
Duplicates     :  0

                          628
0 g CO2/km (comb)           2
1 g CO2/km (comb)           1
1,060 g CO2/km (comb)       1
100 g CO2/km (comb)        36
                         ...
97 g CO2/km (comb)        537
98 g CO2/km (comb)        151
99 g CO2/km (comb)        545
990 g CO2/km (comb)         1
NaN                      1808
Name: co_2_emission, Length: 124, dtype: int64
END*****************************

column name :  comfort_&_convenience
--------------------------------
Per_of_Nulls   :  % 5.78
Num_of_Nulls   :  920
Num_of_Uniques :  6198
Duplicates     :  0

Air conditioning                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   79
Air conditioning,Air suspension,Armrest,Automatic climate control,Auxiliary heating,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows,Wind deflector                                                                                                                                                                                                                                   1
Air conditioning,Air suspension,Armrest,Automatic climate control,Auxiliary heating,Cruise control,Electrically adjustable seats,Electrical side mirrors,Electric tailgate,Heated steering wheel,Hill Holder,Leather seats,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Panorama roof,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Seat ventilation,Split rear seats,Start-stop system,Sunroof,Tinted windows                                                               1
Air conditioning,Air suspension,Armrest,Automatic climate control,Auxiliary heating,Cruise control,Electrically adjustable seats,Electrical side mirrors,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system self-steering,Power windows,Rain sensor,Seat heating,Seat ventilation,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Air suspension,Armrest,Automatic climate control,Auxiliary heating,Cruise control,Electrically adjustable seats,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Massage seats,Multi-function steering wheel,Navigation system,Panorama roof,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Sunroof,Tinted windows      1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
Power windows,Seat ventilation,Split rear seats                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    11
Power windows,Start-stop system                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     4
Rain sensor                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
Sunroof                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             8
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               920
Name: comfort_&_convenience, Length: 6199, dtype: int64
END*****************************

column name :  consumption
--------------------------------
Per_of_Nulls   :  % 11.97
Num_of_Nulls   :  1906
Num_of_Uniques :  875

Duplicates     :  0

0 l/100 km (comb)                                                             1
0 l/100 km (comb)'],['0 l/100 km (city)'],['0 l/100 km (country)              1
1 l/100 km (comb)'],['1 l/100 km (city)'],['1 l/100 km (country)              1
1.2 l/100 km (comb)                                                           1
1.6 l/100 km (comb)                                                           3
                                                                           ...
8.6 l/100 km (comb),\n,11.5 l/100 km (city),\n,7 l/100 km (country)           1
8.7 l/100 km (comb)'],['11.5 l/100 km (city)'],['7.1 l/100 km (country)       2
8.7 l/100 km (comb)'],['6.4 l/100 km (city)'],['5 l/100 km (country)          1
9.1 l/100 km (comb)'],['11.3 l/100 km (city)'],['7.8 l/100 km (country)       1
NaN                                                                        1906
Name: consumption, Length: 876, dtype: int64
END*****************************

column name :  country_version
--------------------------------
Per_of_Nulls   :  % 52.35
Num_of_Nulls   :  8333
Num_of_Uniques :  23
Duplicates     :  0

Austria            208
Belgium            314
Bulgaria             2
Croatia              4
Czech Republic      52
Denmark             33
Egypt                1
European Union     507
France              38
Germany           4502
Hungary             28
Italy             1038
Japan                8
Luxembourg           1
Netherlands        464
Poland              49
Romania              2
Serbia               1
Slovakia             4
Slovenia             1
Spain              325
Sweden               3
Switzerland          1
NaN               8333
Name: country_version, dtype: int64
END*****************************

column name :  cylinders
--------------------------------
Per_of_Nulls   :  % 35.68
Num_of_Nulls   :  5680
Num_of_Uniques :  7
Duplicates     :  0

1         1
2         2
3      2104
4      8105
5        22
6         3
8         2
NaN    5680
Name: cylinders, dtype: int64
END*****************************

column name :  description
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  12850
Duplicates     :  0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               669
!! Achtung !! Wegen erhöhtem Internetbetrug kontaktieren Sie uns unbedingt vor einer Überweisung immer telefonisch persönlich !!!," Business - Paket ",Argonsilbermet., Stoff schwarz,,Automatic+Tiptronic,,ESP,,Klima-Automatic,,Navigations-System-Plus-RF900 mit Farbbildschirm,,Einparkhilfe vo.+hi. mit Optischer Anzeige,,Multi-Funktions-Lenkrad,,Sitzheizung,,Sportsitz,,Halb-el.Sitz,,Tempomat,,Bordcomputer,,Spur-Assistent,,Verkehrszeichen-Erkennung,,Front-Kamera,,Front-Kollisions-Warnung,,Servotronic,,Reifendruck-Kontrolle,,Anfahr-Assistent,,Lenkrad-Heizung,,LED-Tagfahrlicht,,Regensensor,,Innenspi.-abblendb.,,getönte Heck/Seitenscheiben,,Sport/Lederlenkrad,,Freisprechanlage+Bluetooth,,Dachreling,,Teilbare-Rückbank,,Gepäckraumabdeckung,,Trennnetz,,Armlehne,,Cupholder,,4 el.Fensterheber,,el.Lendenwirbelstütze,,Kindersitzbefestigung-Isofix,,el.Außenspiegel,,Sommerreifen,,Winterreifen,,Colorglas,,5 Kopfstützen,,8xAirbag,,Infrarot-Fernbedienung,,Diesel-Partikel-Filter,,EURO 6 KAT.,,Business-Paket,,Opel-Scheckheft, 1.Hand, Alle Kundendienste wurden lückenlos bei Opel gemacht! Zwischenverkauf und Irrtum vorbehalten!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2
!! Achtung !! Wegen erhöhtem Internetbetrug kontaktieren Sie uns unbedingt vor einer Überweisung immer telefonisch persönlich !!!," Business - Paket ",Onyxschwarzmet., Leder/Stoff schwarz,,Automatic+Tiptronic,,ESP,,Klima-Automatic,,Navigations-System-Plus-Navi900 mit Farbbildschirm,,Xenon-LED-IntelliLux,,Einparkhilfe vo+hi. mit Optischer Anzeige,,Rückfahrkamera,,LM-Fe.5-Doppelspeichen (225/17),,Multi-Funktions-Lenkrad,,Halb-el.Sitz,,Sitzheizung,,Sportsitze,,Tempomat,,Bordcomputer,,Distanzregelung-Adaptive-Geschwindigkeits-Regelung,,Auffahr-Warnung,,Spurhalte-Assistent,,Front-Assist,,Verkehrszeichen-Erkennung,,Lenkrad-Heizung,,Servotronic,,Reifendruck-Kontrolle,,Anfahr-Assistent,,LED-Tagfahrlicht,,Regensensor,,Innenspi.-abblendb.,,Außenspi.-anklappb.,,Sport/Lederlenkrad,,getönte Heck/Seitenscheiben,,Dachreling-Chrom,,Teilbare-Rückbank,,Gepäckraumabdeckung,,Freisprechanlage+Bluetooth,,4 el.Fensterheber,,Armlehne,,Cupholder,,Kindersitzbefestigung-Isofix,,el.Lendenwirbelstützen,,el.Außenspiegel,,Colorglas,,5 Kopfstützen,,10xAirbag,,Infrarot-Fernbedienung,,Teilleder-Sitze,,Diesel-Partikel-Filter,,EURO 6 KAT.,,Business-Paket,,Opel-Scheckheft, 1.Hand, Letzter Service wurde bei 155.000 KM bei Opel gemacht! Alle Kundendienste wurden lückenlos bei Opel gemacht! Zwischenverkauf und Irrtum vorbehalten!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
!! FINANZIERUNGVARIANTEN !!,Ab 2,99% eff. Jahreszins ,Finanzierung mit oder ohne Anzahlung möglichWählen Sie Ihre Wunschrate selber aus von 12 bis 96 Monate, ,...................................................................................,Selbstverständlich nehmen wir Ihren alten Wagenzu Marktpreisen in ZahlungDer Betrag für Ihr Fahrzeug Inzahlungnahme kann sofort mit dem Kaufpreis eines Fahrzeugs aus unserem Bestand verrechnet werden,.,....................................................................................,Informieren Sie sich auf unserer Homepage ,www.cemautomobile.de ,über unser Gebrauchten Fahrzeuge und unsere Leistungen,..................................................................................,FINANZIERUNG AB 196,62 ¤ / MONAT OHNE ANZAHLUNG,Audi A3 1.4 TFSI Ultra,Modellvariante COD (cylinder on demand),1.Hand,inklusive 12 Monate Gebruchtwagengarantie Premium all-in,Unfallfrei,Euro,Scheckheftgepflegt ,Inspektion bei übergabe Neu,Alufelgen,7 Gang S tronic Automatikgetriebe,LEDScheinwerfer,LED Tagfahrlicht,Tempomat,4 fach elektr.Fensterheber,Sitzheizung,Klima,Ledersitze,Multi-Media-Interface MMI Navigation,Telefon,Bluetooth,Start Stop,Audi connect (Internetbasierende Dienste),Diebstahlsicherung für Räder (Felgenschlösser),Fahrassistenz-System: Anfahr-Assistent (hold assist),Metallic-Lackierung,USB-Schnittstelle für Fondpassagiere,8 Lautsprecher,Adaptives Bremslicht,Airbag Fahrer-/Beifahrerseite,Antriebs-Schlupfregelung (ASR),Außenspiegel elektr. verstellbar,AUX-IN-Anschluss,Blinkleuchten LED in Außenspiegel integriert,Bremsanlage mit Rekuperationssystem,Bremsassistent,Dachhimmel Stoff,Elektron. Differentialsperre (EDS),Heckklappenöffnung automatisch,Innenausstattung: Dekoreinlagen Micrometallic silber,Isofix-Aufnahmen für Kindersitz,Kühlergrill Single-Frame-Optik,Lenkrad (Sport - 3-Speichen),LM-Felgen,Motor 1,4 Ltr. - 110 kW 16V TFSI ACT,Multi-Media-Interface MMI Basic Plus / MMI Radio Plus,Nebelschlussleuchte(n),Nichtraucher-Paket,Parkbremse elektro-mechanisch,Reifendruck-Kontrollsystem,Rücksitzlehne geteilt/klappbar,Schadstoffarm nach Abgasnorm Euro 6,Seitenairbag vorn,Steckdose (12V-Anschluß) in Mittelkonsole vorn,Irrtümer, Änderungen und Zwischenverkauf vorbehalten, ,Gerne laden wir Sie zu einer unverbindlichen Probefahrt ein,. , Bitte vereinbaren Sie hierzu telefonisch einen Termin unter , Tel: 0162 2801910 ,Our Service for Export Customers :,Komplette Zoll Abfertigung World Wide ,COC Document,Netto / VAT / sale,Ausfuhrkennzeichen Zoll Export number plates RED 9/15/30/60/90/ Days,Kurzzeitkennzeichen Yellow number plates 5 Day      1
!! VERKAUFSPREIS NUR GÜLTIG BEI FINANZIERUNG UND VERSICHERUNG ÜBER DIE RENAULT BANK !! , ,!! Sofort verfügbarer Neuwagen !! Listenpreis € 14.420,79!! , ,!! Inklusive Clio Bonus !! Inklusive Finanzierungsbonus !! Inklusive Versicherungsbonus !! Gültig bis 30.06.2019 !! , ,!! Monatlich € 98,- !! Anzahlung € 2.500,- !! Restwert € 6.240,- !! 48 Monate !! 15.000km/Jahr !! , ,Radio Connect R&Go: FM/AM Tuner mit DAB+, Bluetooth®-Freisprecheinrichtung und Audiostreaming, AUX- und USB-Eingang, Manuelle Klimaanlage, Tempomat mit Geschwindigkeitsbegrenzer, Elektrisch einstellbare und beheizbare Außenspiegel mit integrierten Seitenblinkern, Elektrische Fensterheber vorne, Elektrische Servolenkung, Keycard - mit Funkfernbedienung für die Zentralverriegelung und Komfortstart, LED Tagfahrlicht, Zentralverriegelung mit Funkfernbedienung, Nebelscheinwerfer                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...

Duplicates     :  0

1 cc           36
1,000 cc       40
1,100 cc        1
1,149 cc      288
1,195 cc        1
1,197 cc      353
1,198 cc        1
1,199 cc        3
1,200 cc       18
1,229 cc      677
1,239 cc        1
1,248 cc      110
1,300 cc        2
1,333 cc        1
1,350 cc        1
1,364 cc      102
1,368 cc        1
1,369 cc        1
1,390 cc        1
1,395 cc      320
1,396 cc        3
1,397 cc       11
1,398 cc     1314
1,399 cc      749
1,400 cc       90
1,422 cc      467
1,461 cc      595
1,490 cc      559
1,495 cc        2
1,496 cc        1
1,498 cc      196
1,499 cc        5
1,500 cc       50
1,533 cc        1
1,568 cc        1
1,580 cc        1
1,584 cc        1
1,589 cc        2
1,596 cc        4
1,598 cc     4761
1,599 cc        3
1,600 cc      130
1,618 cc      212
1,686 cc        1
1,696 cc        1
1,798 cc      210
1,800 cc        1
1,856 cc        1
1,896 cc        1
1,956 cc      670
1,968 cc      301
1,984 cc       18
1,995 cc        1
1,997 cc      103
1,998 cc       25
122 cc          1
139 cc          4
140 cc          1
15,898 cc       1
16,000 cc       1
160 cc          6
2 cc            2
2,000 cc       46
2,480 cc       20
2,967 cc        1
54 cc           1
890 cc          1
898 cc        351
899 cc         11
900 cc          4
929 cc          5
973 cc          1
995 cc          2
996 cc          1
997 cc          4
998 cc         72
999 cc       2438
NaN           496
Name: displacement, dtype: int64
END*****************************

column name :  drive_chain
--------------------------------
Per_of_Nulls   :  % 43.08
Num_of_Nulls   :  6858
Num_of_Uniques :  3
Duplicates     :  0

4WD       171
front    8886
rear        4
NaN      6858
Name: drive_chain, dtype: int64
END*****************************

column name :  electricity_consumption
--------------------------------
Per_of_Nulls   :  % 99.14
Num_of_Nulls   :  15782
Num_of_Uniques :  1
Duplicates     :  0

0 kWh/100 km (comb)      137
NaN                    15782
Name: electricity_consumption, dtype: int64
END*****************************

column name :  emission_class
--------------------------------
Per_of_Nulls   :  % 18.98
Num_of_Nulls   :  3021
Num_of_Uniques :  7
Duplicates     :  0

                  607
Euro 4             40
Euro 5             78
Euro 6          10139
Euro 6c           127
Euro 6d            62
Euro 6d-TEMP     1845
NaN              3021
Name: emission_class, dtype: int64
END*****************************

column name :  emission_label
--------------------------------
Per_of_Nulls   :  % 74.97
Num_of_Nulls   :  11934
Num_of_Uniques :  6
Duplicates     :  0

                     40
1 (No sticker)      381
2 (Red)               1
3 (Yellow)            2
4 (Green)          3553
5 (Blue)              8
NaN               11934
Name: emission_label, dtype: int64
END*****************************

column name :  entertainment_&_media
--------------------------------
Per_of_Nulls   :  % 8.63
Num_of_Nulls   :  1374
Num_of_Uniques :  346
Duplicates     :  0

Bluetooth                                                                                           125
Bluetooth,CD player                                                                                  14
Bluetooth,CD player,Digital radio,Hands-free equipment                                                1
Bluetooth,CD player,Digital radio,Hands-free equipment,MP3,On-board computer,Radio                   25
Bluetooth,CD player,Digital radio,Hands-free equipment,MP3,On-board computer,Radio,Sound system      20
                                                                                                   ...
Radio,USB                                                                                            29
Sound system                                                                                         15
Sound system,USB                                                                                     12
USB                                                                                                  46
NaN                                                                                                1374
Name: entertainment_&_media, Length: 347, dtype: int64
END*****************************

column name :  extras
--------------------------------
Per_of_Nulls   :  % 18.61
Num_of_Nulls   :  2962
Num_of_Uniques :  659
Duplicates     :  0

Alloy wheels                                                                                            3245
Alloy wheels,Cab or rented Car                                                                            32
Alloy wheels,Cab or rented Car,Catalytic Converter                                                        15
Alloy wheels,Cab or rented Car,Catalytic Converter,Roof rack                                               1
Alloy wheels,Cab or rented Car,Catalytic Converter,Roof rack,Shift paddles,Sport seats,Voice Control       1
                                                                                                        ...
Tuned car,Voice Control                                                                                    1
Voice Control                                                                                             85
Voice Control,Winter tyres                                                                                 1
Winter tyres                                                                                              12
NaN                                                                                                     2962
Name: extras, Length: 660, dtype: int64
END*****************************

column name :  first_registration
--------------------------------
Per_of_Nulls   :  % 10.03
Num_of_Nulls   :  1597
Num_of_Uniques :  4
Duplicates     :  0

2016    3674
2017    3273
2018    4522
2019    2853
NaN     1597
Name: first_registration, dtype: int64
END*****************************

column name :  fuel
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  77
Duplicates     :  0

Biogas                                                                                                                               1
CNG                                                                                                                                 33
CNG (Particulate Filter)                                                                                                             3
Diesel                                                                                                                            2984
Diesel (Particulate Filter)                                                                                                       4315
Domestic gas H                                                                                                                       1
Electric                                                                                                                             1
Electric/Gasoline                                                                                                                    4
Gasoline                                                                                                                          3175
Gasoline (Particulate Filter)                                                                                                       77
LPG                                                                                                                                 16
Liquid petroleum gas (LPG)                                                                                                          10
Others                                                                                                                               5
Others (Particulate Filter)                                                                                                          1
Regular/Benzine 91                                                                                                                 354
Regular/Benzine 91 (Particulate Filter)                                                                                            100
Regular/Benzine 91 / Regular/Benzine E10 91                                                                                          7
Regular/Benzine 91 / Super 95                                                                                                        1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                                               1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98                            1
Regular/Benzine 91 / Super 95 / Super E10 95                                                                                         1
Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91                                                                1
Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Regular/Benzine 91 / Super 95 / Super Plus 98                                                                                        1
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                           13
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            4
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91                            2
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)       1
Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98                            1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98                            1
Regular/Benzine E10 91                                                                                                              11
Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                            1
Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91                            1
Super 95                                                                                                                          3338
Super 95 (Particulate Filter)                                                                                                      268
Super 95 / Biodiesel                                                                                                                 1
Super 95 / Regular/Benzine 91                                                                                                      424
Super 95 / Regular/Benzine 91 (Particulate Filter)                                                                                   1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91                            1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                     1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super 95 / Regular/Benzine 91 / Super Plus 98                                                                                        2
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                            7
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            1
Super 95 / Regular/Benzine E10 91                                                                                                    1
Super 95 / Regular/Benzine E10 91 / Super E10 95                                                                                     1
Super 95 / Super E10 95                                                                                                            131
Super 95 / Super E10 95 (Particulate Filter)                                                                                        25
Super 95 / Super E10 95 / Regular/Benzine 91                                                                                         1
Super 95 / Super E10 95 / Super Plus 98                                                                                              1
Super 95 / Super E10 95 / Super Plus E10 98                                                                                          1
Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                                          4
Super 95 / Super Plus 98                                                                                                            85
Super 95 / Super Plus 98 (Particulate Filter)                                                                                       14
Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91                            1
Super 95 / Super Plus 98 / Super E10 95                                                                                              8
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                                                                         40
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)                                                     4
Super 95 / Super Plus 98 / Super Plus E10 98                                                                                         1
Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95                                                                          5
Super E10 95                                                                                                                       331
Super E10 95 (Particulate Filter)                                                                                                    7
Super E10 95 / Regular/Benzine 91                                                                                                    2
Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95                                                                1
Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98                            1
Super E10 95 / Super 95                                                                                                             38
Super E10 95 / Super 95 / Super Plus 98                                                                                              3
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98                                                                         19
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)                                                     3
Super E10 95 / Super Plus E10 98                                                                                                     4
Super Plus 98                                                                                                                        7
Super Plus 98 / Regular/Benzine 91                                                                                                   1
Super Plus 98 / Super 95 / Super E10 95                                                                                              1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                                         1
Super Plus 98 / Super E10 95                                                                                                         1
Super Plus E10 98                                                                                                                    1
Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95                                                                          1
Name: fuel, dtype: int64
END*****************************

column name :  full_service
--------------------------------
Per_of_Nulls   :  % 48.39
Num_of_Nulls   :  7704
Num_of_Uniques :  121

Duplicates     :  0

                       1985
0 kWh/100 km (comb)       2
1 (No sticker)           29
101 g CO2/km (comb)      10
102 g CO2/km (comb)      29
                       ...
Euro 6                 2097
Euro 6c                  28
Euro 6d                  11
Euro 6d-TEMP            399
NaN                    7704
Name: full_service, Length: 122, dtype: int64
END*****************************

column name :  gearing_type
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  3
Duplicates     :  0

Automatic         7297
Manual            8153
Semi-automatic     469
Name: gearing_type, dtype: int64
END*****************************

column name :  gears
--------------------------------
Per_of_Nulls   :  % 29.6
Num_of_Nulls   :  4712
Num_of_Uniques :  10
Duplicates     :  0

1         2
2         1
3         2
4         2
5      3239
50        1
6      5822
7      1908
8       224
9         6
NaN    4712
Name: gears, dtype: int64
END*****************************

column name :  hp
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  81
Duplicates     :  0

1 kW        20
100 kW    1308
101 kW      47
103 kW     253
104 kW       8
110 kW    1112
112 kW       7
115 kW       1
117 kW       6
118 kW     516
119 kW      30
120 kW       8
121 kW     392
122 kW      35
123 kW       1
125 kW     707
127 kW       2
132 kW       1
133 kW       1
135 kW      24
137 kW       1
140 kW       2
141 kW      16
143 kW       2
146 kW      18
147 kW     380
149 kW       3
150 kW       2
154 kW      39
155 kW       6
162 kW      98
163 kW       1
164 kW      27
165 kW     194
167 kW       2
168 kW       3
184 kW       5
191 kW       7
195 kW       1
228 kW       2
239 kW       1
270 kW       2
294 kW      18
4 kW         1
40 kW        2
44 kW        1
51 kW      695
52 kW       22
53 kW        2
54 kW      276
55 kW      569
56 kW      286
57 kW       10
60 kW      160
63 kW        2
65 kW        4
66 kW     2122
67 kW       40
70 kW      888
71 kW       59
74 kW       81
75 kW        1
76 kW        4
77 kW      345
78 kW       20
80 kW        3
81 kW     1402
82 kW       22
84 kW        1
85 kW     2542
86 kW        2
87 kW      232
88 kW      177
89 kW        2
9 kW         1
90 kW        4
92 kW      466
93 kW        3
96 kW       72
98 kW        3
kW          88
Name: hp, dtype: int64
END*****************************

column name :  inspection_new
--------------------------------
Per_of_Nulls   :  % 75.3
Num_of_Nulls   :  11987
Num_of_Uniques :  201
Duplicates     :  0

Yes                                                                                442
Yes\n,\n,4.1 l/100 km (comb),\n,7.5 l/100 km (city),\n,5.2 l/100 km (country)        1
Yes\n,\n,4.2 l/100 km (comb),\n,5 l/100 km (city),\n,3.7 l/100 km (country)         11
Yes\n,\n,4.3 l/100 km (comb),\n,5.1 l/100 km (city),\n,3.8 l/100 km (country)        4
Yes\n,\n,4.3 l/100 km (comb),\n,5.2 l/100 km (city),\n,3.9 l/100 km (country)        1
                                                                                 ...
Yes\n,\nEuro 6                                                                     523
Yes\n,\nEuro 6c                                                                      5
Yes\n,\nEuro 6d                                                                     24
Yes\n,\nEuro 6d-TEMP                                                               134
NaN                                                                              11987
Name: inspection_new, Length: 202, dtype: int64
END*****************************

column name :  km
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  6690
Duplicates     :  0

0 km          19
1 km         367
1,000 km      46
1,001 km       4
1,010 km       1
            ...
990 km         2
991 km         1
995 km         1
999 km         3
km          1024
Name: km, Length: 6690, dtype: int64
END*****************************

column name :  last_service_date
--------------------------------
Per_of_Nulls   :  % 96.44
Num_of_Nulls   :  15353
Num_of_Uniques :  255
Duplicates     :  0

01/2017\n,\n102 g CO2/km (comb)        1
01/2017\n,\n107 g CO2/km (comb)        1
01/2017\n,\n95 g CO2/km (comb)         1
01/2018                                1
01/2018\n,\n114 g CO2/km (comb)        1
                                   ...
12/2018\n,\n5 (Blue)                   1
12/2018\n,\n97 g CO2/km (comb)         1
12/2018\n,\n99 g CO2/km (comb)         2
12/2018\n,\nEuro 6                    11
NaN                                15353
Name: last_service_date, Length: 256, dtype: int64
END*****************************

column name :  last_timing_belt_service_date
--------------------------------
Per_of_Nulls   :  % 99.9
Num_of_Nulls   :  15903
Num_of_Uniques :  15
Duplicates     :  0

01/1900                   1
01/1970                   1
01/2018                   1
01/2019                   1
02/2018                   1
02/2019                   1
04/2016                   2
04/2019                   1
05/2018\n,\nEuro 6        1
05/2019                   1
06/2017                   1
06/2019                   1
07/2018                   1
09/2018                   1
12/1900                   1
NaN                   15903
Name: last_timing_belt_service_date, dtype: int64
END*****************************

column name :  make
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  3
Duplicates     :  0

Audi       5712
Opel       7343
Renault    2864
Name: make, dtype: int64
END*****************************

column name :  make_model
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  9
Duplicates     :  0

Audi A1           2614
Audi A2              1
Audi A3           3097
Opel Astra        2526
Opel Corsa        2219
Opel Insignia     2598
Renault Clio      1839
Renault Duster      34
Renault Espace     991
Name: make_model, dtype: int64
END*****************************

column name :  model
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  9
Duplicates     :  0

A1          2614
A2             1
A3          3097
Astra       2526
Clio        1839
Corsa       2219
Duster        34
Espace       991
Insignia    2598
Name: model, dtype: int64
END*****************************

column name :  model_code
--------------------------------
Per_of_Nulls   :  % 68.73
Num_of_Nulls   :  10941
Num_of_Uniques :  232
Duplicates     :  0

0000/000       21
0000/035        1
0000/ACP        1
0035/AAA        1
0035/AAD        1
            ...
3333/BJR       79
3333/BKG        1
3333/BKQ       18
3333/BKR        8
NaN         10941
Name: model_code, Length: 233, dtype: int64
END*****************************

column name :  next_inspection
--------------------------------
Per_of_Nulls   :  % 77.79
Num_of_Nulls   :  12384
Num_of_Uniques :  1384
Duplicates     :  0

01/1921\n,\n120 g CO2/km (comb)        1
01/1955                                1
01/1999                                1
01/2001\n,\n120 g CO2/km (comb)        1
01/2001\n,\n122 g CO2/km (comb)        2
                                   ...
12/2021\n,\n153 g CO2/km (comb)        4
12/2021\n,\n167 g CO2/km (comb)        1
12/2021\n,\nEuro 6                     1
12/2022                                1
NaN                                12384
Name: next_inspection, Length: 1385, dtype: int64
END*****************************

column name :  non_smoking_vehicle
--------------------------------
Per_of_Nulls   :  % 54.92
Num_of_Nulls   :  8742
Num_of_Uniques :  93
Duplicates     :  0

                                                                        3717
1 (No sticker)                                                            24
1.6 l/100 km (comb)                                                        1
100 g CO2/km (comb)                                                       18
101 g CO2/km (comb)                                                        1
102 g CO2/km (comb)                                                       11
103 g CO2/km (comb)                                                       12
104 g CO2/km (comb)                                                       36
105 g CO2/km (comb)                                                       18
106 g CO2/km (comb)                                                       20
107 g CO2/km (comb)                                                       36
108 g CO2/km (comb)                                                       19
109 g CO2/km (comb)                                                       18
110 g CO2/km (comb)                                                        3
111 g CO2/km (comb)                                                        2
112 g CO2/km (comb)                                                        9
113 g CO2/km (comb)                                                       18
114 g CO2/km (comb)                                                       12
115 g CO2/km (comb)                                                        5
116 g CO2/km (comb)                                                       11
117 g CO2/km (comb)                                                        6
118 g CO2/km (comb)                                                        8
119 g CO2/km (comb)                                                        3
120 g CO2/km (comb)                                                       63
121 g CO2/km (comb)                                                        2
122 g CO2/km (comb)                                                        1
123 g CO2/km (comb)                                                        4
124 g CO2/km (comb)                                                       29
125 g CO2/km (comb)                                                        2
126 g CO2/km (comb)                                                        6
127 g CO2/km (comb)                                                       10
128 g CO2/km (comb)                                                        7
129 g CO2/km (comb)                                                       14
130 g CO2/km (comb)                                                        5
131 g CO2/km (comb)                                                       13
132 g CO2/km (comb)                                                        1
133 g CO2/km (comb)                                                       12
134 g CO2/km (comb)                                                        2
135 g CO2/km (comb)                                                       11
136 g CO2/km (comb)                                                        3
137 g CO2/km (comb)                                                        6
138 g CO2/km (comb)                                                        2
139 g CO2/km (comb)                                                        7
140 g CO2/km (comb)                                                        6
142 g CO2/km (comb)                                                        2
143 g CO2/km (comb)                                                       10
144 g CO2/km (comb)                                                        1
146 g CO2/km (comb)                                                        1
147 g CO2/km (comb)                                                        7
148 g CO2/km (comb)                                                        3
149 g CO2/km (comb)                                                        3
150 g CO2/km (comb)                                                        1
151 g CO2/km (comb)                                                        4
152 g CO2/km (comb)                                                        1
153 g CO2/km (comb)                                                       31
154 g CO2/km (comb)                                                        1
156 g CO2/km (comb)                                                        1
157 g CO2/km (comb)                                                        3
158 g CO2/km (comb)                                                        1
159 g CO2/km (comb)                                                        1
161 g CO2/km (comb)                                                        1
166 g CO2/km (comb)                                                        2
169 g CO2/km (comb)                                                        1
172 g CO2/km (comb)                                                        1
175 g CO2/km (comb)                                                        1
189 g CO2/km (comb)                                                        1
4 (Green)                                                               1240
5 (Blue)                                                                   8
5.2 l/100 km (comb),\n,5.8 l/100 km (city),\n,4.8 l/100 km (country)       4
5.2 l/100 km (comb),\n,6.4 l/100 km (city),\n,4.4 l/100 km (country)       2
5.6 l/100 km (comb),\n,7.3 l/100 km (city),\n,4.7 l/100 km (country)       1
5.7 l/100 km (comb),\n,7.3 l/100 km (city),\n,4.7 l/100 km (country)       1
6.1 l/100 km (comb),\n,7.7 l/100 km (city),\n,5.2 l/100 km (country)       1
6.1 l/100 km (comb),\n,7.8 l/100 km (city),\n,5.1 l/100 km (country)       1
6.2 l/100 km (comb),\n,7.9 l/100 km (city),\n,5.3 l/100 km (country)       1
6.3 l/100 km (comb),\n,8 l/100 km (city),\n,5.3 l/100 km (country)         1
6.4 l/100 km (comb),\n,8.1 l/100 km (city),\n,5.4 l/100 km (country)       1
6.5 l/100 km (comb),\n,7.9 l/100 km (city),\n,5.6 l/100 km (country)       1
6.5 l/100 km (comb),\n,8.5 l/100 km (city),\n,5.4 l/100 km (country)       1
82 g CO2/km (comb)                                                         1
85 g CO2/km (comb)                                                        46
90 g CO2/km (comb)                                                         2
91 g CO2/km (comb)                                                         1
92 g CO2/km (comb)                                                         9
95 g CO2/km (comb)                                                         3
97 g CO2/km (comb)                                                        20
98 g CO2/km (comb)                                                        15
99 g CO2/km (comb)                                                        23
Euro 5                                                                     4
Euro 6                                                                  1127
Euro 6c                                                                   17
Euro 6d                                                                    9
Euro 6d-TEMP                                                             345
NaN                                                                     8742
Name: non_smoking_vehicle, dtype: int64
END*****************************

column name :  nr_of_doors
--------------------------------
Per_of_Nulls   :  % 1.33
Num_of_Nulls   :  212
Num_of_Uniques :  6

Duplicates     :  0

1          1
2        219
3        832
4       3079
5      11575
7          1
NaN      212
Name: nr_of_doors, dtype: int64
END*****************************

column name :  nr_of_seats
--------------------------------
Per_of_Nulls   :  % 6.14
Num_of_Nulls   :  977
Num_of_Uniques :  6
Duplicates     :  0

2        116
3          1
4       1125
5      13336
6          2
7        362
NaN      977
Name: nr_of_seats, dtype: int64
END*****************************

column name :  null
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  1
Duplicates     :  0

    15919
Name: null, dtype: int64
END*****************************

column name :  offer_number
--------------------------------
Per_of_Nulls   :  % 19.94
Num_of_Nulls   :  3175
Num_of_Uniques :  11438
Duplicates     :  0

# 250678          1
# 8H6050830       1
# G1024529        1
# G6050580        1
#8023778          2
               ...
x_45689v          2
y8fx64x           1
zr11914           1
zr11916           1
NaN            3175
Name: offer_number, Length: 11439, dtype: int64
END*****************************

column name :  other_fuel_types
--------------------------------
Per_of_Nulls   :  % 94.47
Num_of_Nulls   :  15039
Num_of_Uniques :  1
Duplicates     :  0

         880
NaN    15039
Name: other_fuel_types, dtype: int64
END*****************************

column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
Num_of_Uniques :  3
Duplicates     :  0

Metallic       9794
Perl effect       6
Uni/basic       347
NaN            5772
Name: paint_type, dtype: int64
END*****************************

column name :  prev_owner
--------------------------------
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
Num_of_Uniques :  4
Duplicates     :  0

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
None                 6828
Name: prev_owner, dtype: int64
END*****************************

column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
Num_of_Uniques :  101
Duplicates     :  0

0                                                                               163
0\n,\n,4.6 l/100 km (comb),\n,5.8 l/100 km (city),\n,3.9 l/100 km (country)       1
0\n,\n,5.4 l/100 km (comb),\n,7.1 l/100 km (city),\n,4.4 l/100 km (country)       2
0\n,\n,6.6 l/100 km (comb),\n,8.2 l/100 km (city),\n,5.7 l/100 km (country)       1
0\n,\n0 kWh/100 km (comb)                                                         2
                                                                               ...
2\n,\n129 g CO2/km (comb)                                                         2
2\n,\n137 g CO2/km (comb)                                                         1
3                                                                                17
4                                                                                 2
NaN                                                                            6640
Name: previous_owners, Length: 102, dtype: int64
END*****************************

column name :  registration
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  48
Duplicates     :  0

           1597
01/2016     376
01/2017     306
01/2018     511
01/2019     541
02/2016     472
02/2017     368
02/2018     539
02/2019     585
03/2016     536
03/2017     471
03/2018     695
03/2019     543
04/2016     532
04/2017     380
04/2018     541
04/2019     506
05/2016     459
05/2017     404
05/2018     572
05/2019     440
06/2016     452
06/2017     409
06/2018     532
06/2019     224
07/2016     176
07/2017     215
07/2018     396
07/2019       6
08/2016      94
08/2017     114
08/2018     285
08/2019       1
09/2016     141
09/2017     149
09/2018     141
09/2019       5
10/2016     160
10/2017     154
10/2018      97
11/2016     142
11/2017     180
11/2018     110
11/2019       1
12/2016     134
12/2017     123
12/2018     103
12/2019       1
Name: registration, dtype: int64
END*****************************

column name :  safety_&_security
--------------------------------
Per_of_Nulls   :  % 6.17
Num_of_Nulls   :  982
Num_of_Uniques :  4443
Duplicates     :  0

ABS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        4
ABS,Adaptive Cruise Control,Adaptive headlights,Alarm system,Blind spot monitor,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Fog lights,Head airbag,Immobilizer,Isofix,Lane departure warning system,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Adaptive headlights,Alarm system,Blind spot monitor,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition                                                    1
ABS,Adaptive Cruise Control,Adaptive headlights,Alarm system,Blind spot monitor,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency system,Fog lights,Head airbag,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition,Xenon headlights                                                                             1
ABS,Adaptive Cruise Control,Adaptive headlights,Alarm system,Blind spot monitor,Central door lock with remote control,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Fog lights,Head airbag,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition      1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
Power steering                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             6
Side airbag                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Tire pressure monitoring system                                                                                                                                                                                                                                                                                                                                                                                                                                                                           12
Xenon headlights                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      982
Name: safety_&_security, Length: 4444, dtype: int64
END*****************************

column name :  short_description
--------------------------------
Per_of_Nulls   :  % 0.29
Num_of_Nulls   :  46
Num_of_Uniques :  9971

Duplicates     :  0

                                                      3
!! VENDUE VENDUE !!!                                  1
(2) 1.4 TDI ULTRA 90 AMBIENTE S tronic                1
(2) 1.6 CDTI 136 ELITE AUTO                           1
(3E GENERATION) III (2) 1.6 TDI 110 BUSINESS LINE     1
                                                     ..
van 1.5 dci 75cv S S E6                               1
van 1.5 dci 75cv S&S E6                              24
zoé life                                              1
Österr. Edition 16.CDTI                               1
None                                                 46
Name: short_description, Length: 9972, dtype: int64
END*****************************

column name :  type
--------------------------------
Per_of_Nulls   :  % 0.01
Num_of_Nulls   :  2
Num_of_Uniques :  169
Duplicates     :  0

Demonstration,,Diesel                                                 45
Demonstration,,Diesel (Particulate Filter)                           129
Demonstration,,Gasoline                                              158
Demonstration,,Gasoline (Particulate Filter)                           1
Demonstration,,Regular/Benzine 91                                     36
                                                                    ...
Used,,Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98      8
Used,,Super E10 95 / Super Plus E10 98                                 4
Used,,Super Plus 98                                                    2
Used,,Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95      1
NaN                                                                    2
Name: type, Length: 170, dtype: int64
END*****************************

column name :  upholstery
--------------------------------
Per_of_Nulls   :  % 23.37
Num_of_Nulls   :  3720
Num_of_Uniques :  46
Duplicates     :  0

Beige                     3
Black                   491
Blue                      2
Brown                    12
Cloth                  1005
Cloth, Beige             13
Cloth, Black           5821
Cloth, Blue              12
Cloth, Brown             28
Cloth, Grey             891
Cloth, Orange             1
Cloth, Other            639
Cloth, Red                5
Cloth, White              8
Full leather            139
Full leather, Beige      36
Full leather, Black     575
Full leather, Blue        2
Full leather, Brown     116
Full leather, Grey       67
Full leather, Other      72
Full leather, Red         1
Full leather, White       1
Grey                    273
Other                    56
Other, Black            110
Other, Brown              1
Other, Grey              15
Other, Other            182
Other, Yellow             4
Part leather            140
Part leather, Beige       2
Part leather, Black    1121
Part leather, Brown      50
Part leather, Grey      116
Part leather, Other      65
Part leather, Red         3
Part leather, White       2
Velour                   16
Velour, Black            36
Velour, Grey              8
White                     2
alcantara                 2
alcantara, Black         47
alcantara, Grey           6
alcantara, Other          2
NaN                    3720
Name: upholstery, dtype: int64
END*****************************

column name :  url
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  15919
Duplicates     :  0

https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-advanced-2019-sh-pdc-gasoline-white-1037d13f-0851-44dd-b559-c6f6def8e6d2                     1
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-advanced-gasoline-white-16e81c6c-58ce-4b86-9926-9f09302d0ef4                                 1
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-advanced-gasoline-white-a48492d9-f2e5-436d-9ad4-dfb31ff19aed                                 1
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-basis-2019-navi-virtual-gasoline-white-6d94186e-c19d-4aa1-a223-bc0256d51845                  1
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-basis-2019-pdc-sh-gasoline-white-047a0fe6-743e-4ae6-892e-e97bc13b1468                        1
                                                                                                                                                              ..
https://www.autoscout24.com//offers/renault-espace-zen-energy-dci-160-twin-turbo-edc-diesel-white-5eb03fe7-5c36-40b6-a596-ee0de57372e1                         1
https://www.autoscout24.com//offers/renault-espace-zen-energy-dci-160-twin-turbo-edc-diesel-white-996ac32a-6070-40af-b6ab-74f57232e256                         1
https://www.autoscout24.com//offers/renault-espace-zen-energy-dci-160-twin-turbo-edc-diesel-white-a6700fd3-efb5-44a8-a85b-90c491c9d378                         1
https://www.autoscout24.com//offers/renault-espace-zen-energy-dci-160-twin-turbo-edc-diesel-white-b9b30dfb-beb9-4157-b8b4-dbe86ba6573d                         1
https://www.autoscout24.com//offers/renault-espace-zu-spaet-geht-an-haendler-da-wird-er-dann-23-000-ko-gasoline-silver-93caa088-19e3-905e-e053-e250040a8d8d    1
Name: url, Length: 15919, dtype: int64
END*****************************

column name :  vat
--------------------------------
Per_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
Num_of_Uniques :  2
Duplicates     :  0

Price negotiable      426
VAT deductible      10980
None                 4513
Name: vat, dtype: int64
END*****************************

column name :  warranty
--------------------------------
Per_of_Nulls   :  % 34.05
Num_of_Nulls   :  5420
Num_of_Uniques :  506
Duplicates     :  0

                                     1343
1 (No sticker)                         17
1 months                                1
1 months\n,\nEuro 6                     2
10 months\n,\n104 g CO2/km (comb)       1
                                     ...
Euro 6                               1868
Euro 6c                                21
Euro 6d                                11
Euro 6d-TEMP                          362
NaN                                  5420
Name: warranty, Length: 507, dtype: int64
END*****************************

column name :  weight
--------------------------------
Per_of_Nulls   :  % 43.81
Num_of_Nulls   :  6974
Num_of_Uniques :  434
Duplicates     :  0

1 kg           2
1,009 kg       1
1,010 kg       3
1,017 kg       1
1,030 kg       1
            ...
840 kg         1
900 kg         1
977 kg         2
980 kg        11
NaN         6974
Name: weight, Length: 435, dtype: int64
END*****************************

In [29]:
# null kolonu içi boş. düşülecek
# kW kolonu içi boş. düşülecek.
# "url" tüm analiz sonrası silinecek veya analiz başında silinecek df_orjinal den bakılacak
# Audi A2 ile ilgili tek satır veri var
# km sütunu temizlenecek ve integer yapılacak
# registration sutununda "-/-" şeklinde veri var
# prev_owner sutunu temizlecek ve integer yapılacak
# hp sutunu temizlenecek integer yapılacak ve "- kW,1 kW" bu gibi küçük değerlere bakılacak
# previous_owners kolonunun içeriği ve adı kıyaslanacak. temizlenecek integer yapılacak
            #ve prev_owner sutunu ile kıyaslanıp tek sutun yapılacak
# next_inspection null veriler doldurulabilir.temizlenecek. datatype date yapılacak
# inspection_new kolonu "yes" "no" şeklinde düzenlenebilir.
# warranty kolonunda null ve boş veriler var. ay formatına çevirilecek ve integer yapılacak
# full_service kolonunda null ve boş veriler var.
# non_smoking_vehicle kolonunda null ve boş veriler var.
# make_model kolonu ile "make" ve "model" kolonları karşılaştırılıp hangisinin düşürüleceğine karar verilecek
# offer number kolonu ML de işe yaramayabilir. düşülebilir.
# first_registration kolonundaki null değerler için registration kolonuna bakılabilir..
# paint_type kolonu metallic, non-metallic ve other olarak kategorize edilebilir
# upholstery kolonu kategorize edilecek
# body ve body type sutunu aynı birisi düşürülecek
# "nr_of_doors" kolonunda "1,7 veya null" veriler incelenecek
# "nr_of_seats" kolonunda "3,6 veya null" veriler incelenecek
# model_code kolonu düşürülebilir
# displacement kolonu numeric yapılacak
# cylinders kolonundaki null veriler kontrol edilecek
# weight kolonu numeric yapılacak
# drive chain kolonu null değerleri nasıl doldurulacak. Diğer modellere bakılarak doldurulabilir.
# fuel kolonu kategorize edilecek.(Benzin, Dizel, Gaz, Diğer olabilir)
# consumption kolonu 3 sütuna bölübdü. Null değerler doldurulabilir mi, incelenecek.
# co_2_emission ve emission_class sütunları birlikte incelenip, null değerler doldurulabilir mi bakılacak.
# ...Birbiri ile ilişkili ise biri düşülebilir. co_2_emission kategorize edilebilir mi, bakılacak.
# comfort_&_convenience sütunundaki null değerler incelenecek? Belki genel özellikler ayrı sütunlar yapılabilir(python, sql, ... required skills gibi)
# entertainment_&_media null değerler incelenecek? Belki genel özellikler ayrı sütunlar yapılabilir(python, sql, ... required skills gibi)
# extras null değerler incelenecek? Belki genel özellikler ayrı sütunlar yapılabilir(python, sql, ... required skills gibi)
# safety_&_security null değerler incelenecek? Belki genel özellikler ayrı sütunlar yapılabilir(python, sql, ... required skills gibi)
# ...description kolonuna bakılarak paket mi/ değil mi incelenip, sınıflandırılabilir belki.
# description ilan açıklaması gibi. düşülebilir.
# emission_label diğer emisyon sütunları(2 sütun:emission class ve Co2 emissin) ile karşılaştırılarak ne yapılacağına karar verilecek.
# gears sütunundaki null değerler ve 1,2, 50 gibi strange değerler kontrol edilerek ne yapılacağına karar verilecek.
# country_version ilanın verildiği ülke gibi görünüyor. Null değer çok fazla. Düşülebilir(önce grafiğine bakılabilir).
# electricity_consumption % 99 null. düşülebilir.
# last_service_date null değer % 95 üzerinde null değer var. House price'daki gibi %95 üzerinde null değer içieren kolonlar tek bri kod ile düşülebilir.
# other_fuel_types çoğu null. kalanı da boş liste. listeler önce null'a çevirilecek. Sonra düşülecek.
# availability çoğu null. düşülebilir.
# last_timing_belt_service_date çoğu null. düşülebilir.
# available_from çoğu null. düşülebilir.
# bizim oluşturduğumuz kolonlar(consumption_comb, consumption_city, consumption_country) daki null değerler nasıl doldurulacak. Kontrol edilip, karar verilecek.

# ÖNEMLİ: df'te yer alan tüm boş listeler ve boş olanlar null'a çevirilecek. Sonra value counts'lar tekrar kontrol edilecek.

### Detect strange values apart from the NaN Values.(isin(),Count(),Sum(),Any())

In [30]:
# df.isin(['']).sum()
df.isin(['']).sum() / df.shape[0]*100

url                               0.000
make_model                        0.000
short_description                 0.019
body_type                         0.000
price                             0.000
vat                               0.000
km                                0.000
registration                     10.032
prev_owner                        0.000
k_w                               0.000
hp                                0.000
type                              0.000
previous_owners                   0.000
next_inspection                   0.000
inspection_new                    0.000
warranty                          8.436
full_service                     12.469
non_smoking_vehicle              23.349
null                            100.000
make                              0.000
model                             0.000
offer_number                      0.000
first_registration                0.000
body_color                        0.000
paint_type                        0.000
body_color_original               0.000
upholstery                        0.000
body                              0.000
nr_of_doors                       0.000
nr_of_seats                       0.000
model_code                        0.000
gearing_type                      0.000
displacement                      0.000
cylinders                         0.000
weight                            0.000
drive_chain                       0.000
fuel                              0.000
consumption                       0.000
co_2_emission                     3.945
emission_class                    3.813
comfort_&_convenience             0.000
entertainment_&_media             0.000
extras                            0.000
safety_&_security                 0.000
description                       4.203
emission_label                    0.251
gears                             0.000
country_version                   0.000
electricity_consumption           0.000
last_service_date                 0.000
other_fuel_types                  5.528
availability                      0.000
last_timing_belt_service_date     0.000
available_from                    0.000
dtype: float64

In [31]:
# Filter and assign NaN
df[df.isin([''])] = np.NaN

### Check Duplicates - Drop Unique Before Start Or End of Cleaning

In [32]:
df.drop(columns='url').duplicated().sum()

877

In [33]:
cond = df.drop(columns='url').duplicated()
index = df.loc[df.drop(columns='url').duplicated()].index
index.size

877

In [34]:
df.drop(index=index).shape

(15042, 54)

In [35]:
# not yet drop
# df.drop(index=index, inplace=True)

### Check High Null Percentages - Drop

In [36]:
(df.isna().mean()*100).sort_values(ascending=False).head(10)

other_fuel_types                100.000
null                            100.000
k_w                             100.000
last_timing_belt_service_date    99.899
electricity_consumption          99.139
available_from                   98.291
last_service_date                96.445
availability                     96.011
non_smoking_vehicle              78.265
next_inspection                  77.794
dtype: float64

In [37]:
def drop_high_null_percentage(df, percentage=95, inplace=True):
    for j, i in enumerate(df.columns):
        per = df[i].isna().sum() / df[i].isna().count()*100
        if per > percentage:
            print(j, 'Null Percentage:', per, i, 'dropping')
            df.drop(columns=i, inplace=inplace)

In [38]:
drop_high_null_percentage(df)

9 Null Percentage: 100.0 k_w dropping
18 Null Percentage: 100.0 null dropping
48 Null Percentage: 99.13939317796344 electricity_consumption dropping
49 Null Percentage: 96.44450028268108 last_service_date dropping
50 Null Percentage: 100.0 other_fuel_types dropping
51 Null Percentage: 96.01105597085244 availability dropping
52 Null Percentage: 99.89949117406873 last_timing_belt_service_date dropping
53 Null Percentage: 98.2913499591683 available_from dropping

In [39]:
df.shape

(15919, 46)

## Fixing a data type (value_counts(), astype(), infer_objects(), convert_dtypes())

- Detect strange values by Columns Convert Object Types to Numeric Types (int, float, np.int64, pd.Int64Dtype())
- Combining object columns

Change column type in pandas:

  01. astype() - convert (almost) any type to (almost) any other type (even if it's not necessarily sensible to do so). Also   allows you to convert to categorial types (very useful).
  02. infer_objects() - a utility method to convert object columns holding Python objects to a pandas type if possible.
  03. convert_dtypes() - convert DataFrame columns to the "best possible" dtype that supports pd.NA (pandas' object to indicate a missing value).
  04. to_numeric() - provides functionality to safely convert non-numeric types.(See also to_datetime() and to_timedelta().)
  05. factorize() - provides sorting

### Detect strange values by Columns Convert Object Types to Numeric Types (int, float, np.int64, float)

In [40]:
print(df.columns.to_list())

['url', 'make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'hp', 'type', 'previous_owners', 'next_inspection', 'inspection_new', 'warranty', 'full_service', 'non_smoking_vehicle', 'make', 'model', 'offer_number', 'first_registration', 'body_color', 'paint_type', 'body_color_original', 'upholstery', 'body', 'nr_of_doors', 'nr_of_seats', 'model_code', 'gearing_type', 'displacement', 'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption', 'co_2_emission', 'emission_class', 'comfort_&_convenience', 'entertainment_&_media', 'extras', 'safety_&_security', 'description', 'emission_label', 'gears', 'country_version']

In [41]:
def get_diff_category_column(cat_column, df=df, exclude=',/\n', pattern=r'[,\n]| /', strip='''\n' "!?|.,*+-_/]['''):
    """
    exclude  - satırlar da kategori ayırım yerleri
    pattern  - satırdaki veriyi ayırma regex
    strip    - alakasız işaretleri kaldırma
    """
    import re
    column = df[cat_column].dropna().apply(str).str.strip(strip)
    diff_value = list()
    for row in column:
        if not any(x in exclude for x in row) and row not in diff_value:
            diff_value.append(row)
        else:
            for data in map(lambda x: x.strip(strip), filter(None, re.split(pattern, row))):
                if data not in diff_value:
                    diff_value.append(data)
    return dict(enumerate(sorted(diff_value)))

In [42]:
def get_regex_search_key(key_list):
    keys = '{}'.format(f'({"".join("{}|".format(w) for w in key_list)})').replace('|)', ')')
    return keys

#### 'url'

In [43]:
df['url'].head(1).values

array(['https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e'],
      dtype=object)

In [44]:
# row character size 140
len('https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e')

137

#### 'make_model', 'make', 'model'

In [45]:
df[['make_model', 'make', 'model']].value_counts(dropna=False)

make_model      make     model
Audi A3         Audi     A3          3097
Audi A1         Audi     A1          2614
Opel Insignia   Opel     Insignia    2598
Opel Astra      Opel     Astra       2526
Opel Corsa      Opel     Corsa       2219
Renault Clio    Renault  Clio        1839
Renault Espace  Renault  Espace       991
Renault Duster  Renault  Duster        34
Audi A2         Audi     A2             1
dtype: int64

In [46]:
df.drop(columns=['make', 'model'], inplace=True)

#### 'short_description'

In [47]:
df['short_description'].value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
None                                              46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TFSI S tronic Admired                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 9972, dtype: int64

In [48]:
df['short_description'].head(1)

0    Sportback 1.4 TDI S-tronic Xenon Navi Klima
Name: short_description, dtype: object

#### 'body_type', 'body'

In [49]:
df[['body_type', 'body']].value_counts(dropna=False)

body_type      body
Sedans         Sedans           7903
Station wagon  Station wagon    3553
Compact        Compact          3153
Van            Van               783
Other          Other             290
Transporter    Transporter        88
NaN            NaN                60
Off-Road       Off-Road           56
Coupe          Coupe              25
Convertible    Convertible         8
dtype: int64

In [50]:
df.drop(columns='body', inplace=True)

#### 'vat'

In [51]:
df['vat'].value_counts(dropna=False)

VAT deductible      10980
None                 4513
Price negotiable      426
Name: vat, dtype: int64

In [52]:
# not filling - legally
df.drop(columns='vat', inplace=True)

#### 'km'

In [53]:
df['km'].value_counts(dropna=False)

10 km        1045
km           1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [54]:
df['km'].str.replace(',', '').str.extract('(\d+)')

           0
0      56013
1      80000
2      83450
3      73000
4      16200
...      ...
15914    NaN
15915   9900
15916     15
15917     10
15918    NaN

[15919 rows x 1 columns]

In [55]:
df['km'].str.strip('- km').str.replace(',', '').replace('', np.NaN)

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914      NaN
15915     9900
15916       15
15917       10
15918      NaN
Name: km, Length: 15919, dtype: object

In [56]:
df['km'] = df['km'].str.replace(',', '').str.extract('(\d+)').astype(float)

#### 'registration', 'first_registration'

In [57]:
df[['registration', 'first_registration']].value_counts(dropna=False).head()

registration  first_registration
NaN           NaN                   1597
03/2018       2018                   695
02/2019       2019                   585
05/2018       2018                   572
03/2019       2019                   543
dtype: int64

In [58]:
# Save year astype float
df['registration_year'] = df['first_registration'].astype(float)

In [59]:
# Convert strintg Datetime
pd.to_datetime(df['registration']).dt.to_period("M")

0        2016-01
1        2017-03
2        2016-02
3        2016-08
4        2016-05
          ...
15914        NaT
15915    2019-01
15916    2019-03
15917    2019-06
15918    2019-01
Name: registration, Length: 15919, dtype: period[M]

In [60]:
# max date in Column
max(pd.to_datetime(df['registration']).dt.to_period("M"))

Period('2019-12', 'M')

In [61]:
# subtraction max date - Series Column
month_diff = (max(pd.to_datetime(df['registration'])).to_period('M') - pd.to_datetime(df['registration']).dt.to_period("M"))
month_diff

0        <47 * MonthEnds>
1        <33 * MonthEnds>
2        <46 * MonthEnds>
3        <40 * MonthEnds>
4        <43 * MonthEnds>
               ...
15914                 NaT
15915    <11 * MonthEnds>
15916     <9 * MonthEnds>
15917     <6 * MonthEnds>
15918    <11 * MonthEnds>
Name: registration, Length: 15919, dtype: object

In [62]:
# take Mounth astype float
month_diff = month_diff.apply(lambda x: x.n if pd.notna(x) else np.NaN).astype(float)

In [63]:
df['registration_month'] = month_diff

In [64]:
df.drop(columns=['first_registration', 'registration'], inplace=True)

##### 'age' - create column

In [65]:
# Calculate Age
df['age'] = max(df['registration_year']) - df['registration_year']

In [66]:
df['age'].value_counts(dropna=False)

1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: age, dtype: int64

#### 'prev_owner', 'previous_owners'

In [67]:
df[['prev_owner', 'previous_owners']].head()

          prev_owner previous_owners
0  2 previous owners               2
1               None             NaN
2   1 previous owner               1
3   1 previous owner               1
4   1 previous owner               1

In [68]:
df['prev_owner'].str.extract('(\d+)').value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
dtype: int64

In [69]:
df['prev_owner'].str.split().str[0].value_counts(dropna=False)

1       8294
None    6828
2        778
3         17
4          2
Name: prev_owner, dtype: int64

In [70]:
df['prev_owner'] = df['prev_owner'].str.extract('(\d+)').astype(float)

#### 'hp'

In [71]:
df['hp'].value_counts(dropna=False).head(5)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
Name: hp, dtype: int64

In [72]:
df['hp'].str.extract('(\d+)').value_counts(dropna=False).head()

85     2542
66     2122
81     1402
100    1308
110    1112
dtype: int64

In [73]:
df['hp'].str.split().str[0].value_counts(dropna=False).head()

85     2542
66     2122
81     1402
100    1308
110    1112
Name: hp, dtype: int64

In [74]:
df['hp_kw'] = df['hp'].str.extract('(\d+)').astype(float)

In [75]:
df.drop(columns='hp', inplace=True)

#### 'type', 'fuel'

In [76]:
df[['type', 'fuel']]

,type,fuel
0,"Used,,Diesel (Particulate Filter)",Diesel (Particulate Filter)
1,"Used,,Gasoline",Gasoline
2,"Used,,Diesel (Particulate Filter)",Diesel (Particulate Filter)
3,"Used,,Diesel (Particulate Filter)",Diesel (Particulate Filter)
4,"Used,,Diesel (Particulate Filter)",Diesel (Particulate Filter)
...,...,...
15914,"New,,Diesel (Particulate Filter)",Diesel (Particulate Filter)
15915,"Used,,Super 95 / Super Plus 98 (Particulate Fi...",Super 95 / Super Plus 98 (Particulate Filter)
15916,"Pre-registered,,Diesel",Diesel
15917,"Pre-registered,,Diesel",Diesel
15918,"Demonstration,,Super 95",Super 95

In [77]:
df['type'].str.split(',').str[0].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type, dtype: int64

In [78]:
df['type'].str.extract('(Used|New|Pre-registered|Employee\'s car|Demonstration)').value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
dtype: int64

In [79]:
df['type'] = df['type'].str.split(',').str[0]

#### 'next_inspection'

In [80]:
df['next_inspection'].value_counts(dropna=False)

NaN                                12384
04/2022                               62
06/2021                               47
03/2021                               39
03/2022                               36
                                   ...
06/2021\n,\n121 g CO2/km (comb)        1
02/2020\n,\n139 g CO2/km (comb)        1
10/2021\n,\n136 g CO2/km (comb)        1
06/2019\n,\n139 g CO2/km (comb)        1
01/2022\n,\n168 g CO2/km (comb)        1
Name: next_inspection, Length: 1385, dtype: int64

In [81]:
df[['next_inspection', 'inspection_new']]

                       next_inspection               inspection_new
0       06/2021\n,\n99 g CO2/km (comb)               Yes\n,\nEuro 6
1                                  NaN                          NaN
2                                  NaN                          NaN
3                                  NaN                          NaN
4                                  NaN  Yes\n,\n109 g CO2/km (comb)
...                                ...                          ...
15914                              NaN                          NaN
15915  01/2022\n,\n168 g CO2/km (comb)                          NaN
15916                              NaN         Yes\n,\nEuro 6d-TEMP
15917                              NaN                          NaN
15918                              NaN  Yes\n,\n153 g CO2/km (comb)

[15919 rows x 2 columns]

In [82]:
df['next_inspection'].str.split('\n').str[0].value_counts(dropna=False).head()

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
Name: next_inspection, dtype: int64

In [83]:
df['next_inspection'].str.extract('(\d+/\d{0,4})').value_counts(dropna=False).head()

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
dtype: int64

In [84]:
df['next_inspection_date'] = df['next_inspection'].str.extract('(\d+/\d{0,4})')

#### 'inspection_new'

In [85]:
df['inspection_new'].value_counts(dropna=False)

NaN                                                                              11987
Yes\n,\nEuro 6                                                                     523
Yes                                                                                442
Yes\n,\n102 g CO2/km (comb)                                                        174
Yes\n,\n4 (Green)                                                                  166
                                                                                 ...
Yes\n,\n,5.2 l/100 km (comb),\n,6.7 l/100 km (city),\n,4.2 l/100 km (country)        1
Yes\n,\n100 g CO2/km (comb)                                                          1
Yes\n,\n,4.9 l/100 km (comb),\n,5.9 l/100 km (city),\n,4.3 l/100 km (country)        1
Yes\n,\n,5.1 l/100 km (comb),\n,6.4 l/100 km (city),\n,4.3 l/100 km (country)        1
Yes\n,\n172 g CO2/km (comb)                                                          1
Name: inspection_new, Length: 202, dtype: int64

In [86]:
df['inspection_new'].str.contains('Yes').sum()

3932

In [87]:
df['inspection_new'].str.split('\n').str[0].value_counts(dropna=False)

NaN    11987
Yes     3932
Name: inspection_new, dtype: int64

In [88]:
df['inspection_new'].str.extract('(Yes|No)').value_counts(dropna=False)

NaN    11987
Yes     3932
dtype: int64

In [89]:
df['inspection_is_new'] = df['inspection_new'].str.split('\n').str[0]

#### 'warranty'

In [90]:
df['warranty'].value_counts(dropna=False)

NaN                                                                                  6763
Euro 6                                                                               1868
12 months                                                                            1305
24 months                                                                             585
4 (Green)                                                                             517
                                                                                     ...
2 months                                                                                1
72 months\n,\n125 g CO2/km (comb)                                                       1
60 months\n,\n14 g CO2/km (comb)                                                        1
24 months\n,\n121 g CO2/km (comb)                                                       1
36 months\n,\n,7.4 l/100 km (comb),\n,9.6 l/100 km (city),\n,6 l/100 km (country)       1
Name: warranty, Length: 506, dtype: int64

In [91]:
df['warranty'].str.contains('months').sum()

4853

In [92]:
# crosscheck all extract
# df['warranty'].str.extract('(\d+)\s*months').count()
df['warranty'].str.extract('(\d+)\s*months').notna().sum()

0    4853
dtype: int64

In [93]:
df['warranty'].str.extract('(\d+) months').value_counts(dropna=False).head()

NaN    11066
12      2594
24      1118
60       401
36       279
dtype: int64

In [94]:
df['warranty_months'] = df['warranty'].str.extract('(\d+) months').astype(float)

#### 'full_service'

In [95]:
df['full_service'].value_counts(dropna=False)

NaN                                                                     9689
4 (Green)                                                               2235
Euro 6                                                                  2097
Euro 6d-TEMP                                                             399
120 g CO2/km (comb)                                                      105
                                                                        ...
6 l/100 km (comb),\n,8 l/100 km (city),\n,4.9 l/100 km (country)           1
84 g CO2/km (comb)                                                         1
87 g CO2/km (comb)                                                         1
5.7 l/100 km (comb),\n,7.3 l/100 km (city),\n,4.9 l/100 km (country)       1
Euro 4                                                                     1
Name: full_service, Length: 121, dtype: int64

#### 'non_smoking_vehicle'

In [96]:
df['non_smoking_vehicle'].value_counts(dropna=False).head()

NaN                    12459
4 (Green)               1240
Euro 6                  1127
Euro 6d-TEMP             345
120 g CO2/km (comb)       63
Name: non_smoking_vehicle, dtype: int64

#### 'offer_number'

In [97]:
df['offer_number'].value_counts(dropna=False)

NaN                                         3175
LT67679                                       27
TA76392                                       27
UN89904                                       27
XT61649                                       27
                                            ...
74223                                          1
160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b       1
6701576                                        1
6701569                                        1
Re_30000008029                                 1
Name: offer_number, Length: 11439, dtype: int64

In [98]:
df.drop(columns='offer_number', inplace=True)

#### 'body_color'

In [99]:
df['body_color'].value_counts(dropna=False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

#### 'paint_type'

In [100]:
df['paint_type'].value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

#### 'body_color_original'

In [101]:
df['body_color_original'].value_counts(dropna=False)

NaN                              3759
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            240
Brillantschwarz                   216
                                 ...
GRIS NANO                           1
Tiefsee-blau                        1
LAVAROT                             1
BLU COSMO                           1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1916, dtype: int64

In [102]:
df[['paint_type', 'body_color_original', 'body_color']]

      paint_type     body_color_original body_color
0       Metallic           Mythosschwarz      Black
1            NaN                     NaN        Red
2       Metallic  mythosschwarz metallic      Black
3       Metallic                     NaN      Brown
4       Metallic  Mythosschwarz Metallic      Black
...          ...                     ...        ...
15914   Metallic            Grigio scuro       Grey
15915   Metallic     Stahl-Grau Metallic       Grey
15916        NaN             arktis-weiß      White
15917        NaN                  Grigio       Grey
15918   Metallic  Titanium-Grau Metallic       Grey

[15919 rows x 3 columns]

In [103]:
df.drop(columns='body_color_original', inplace=True)

#### 'upholstery'

In [104]:
df['upholstery'].value_counts(dropna=False).head()

Cloth, Black           5821
NaN                    3720
Part leather, Black    1121
Cloth                  1005
Cloth, Grey             891
Name: upholstery, dtype: int64

In [105]:
get_diff_category_column('upholstery')

{0: 'Beige',
 1: 'Black',
 2: 'Blue',
 3: 'Brown',
 4: 'Cloth',
 5: 'Full leather',
 6: 'Grey',
 7: 'Orange',
 8: 'Other',
 9: 'Part leather',
 10: 'Red',
 11: 'Velour',
 12: 'White',
 13: 'Yellow',
 14: 'alcantara'}

In [106]:
up_type = ["Cloth", "Part leather", "Full leather", "alcantara", "Velour", "Other"]
up_color = ['Black', 'Grey', 'Brown', 'Beige', 'White', 'Blue', 'Red', 'Yellow', 'Orange', ' Other']

In [107]:
# 1
get_regex_search_key(up_type)

'(Cloth|Part leather|Full leather|alcantara|Velour|Other)'

In [108]:
df['upholstery'].str.extract(get_regex_search_key(up_type)).value_counts(dropna=False)

Cloth           8423
NaN             4503
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
dtype: int64

In [109]:
get_regex_search_key(up_color)

'(Black|Grey|Brown|Beige|White|Blue|Red|Yellow|Orange| Other)'

In [110]:
# squeeze() vs to_frame() - Or use [0]
df['upholstery'].str.extract(get_regex_search_key(up_color)).squeeze().str.strip().value_counts(dropna=False)

Black     8201
NaN       5078
Grey      1376
Other      960
Brown      207
Beige       54
Blue        16
White       13
Red          9
Yellow       4
Orange       1
Name: 0, dtype: int64

In [111]:
# 2
a_type = df['upholstery'].str.split(', ').str[0]
b_color = df['upholstery'].str.split(', ').str[1]

a_color = a_type[a_type.isin(up_color)]
b_color.fillna(a_color, inplace=True)

a_type[a_type.isin(up_color)] = np.NaN

In [112]:
df['upholstery_type'] = a_type
df['upholstery_color'] = b_color
# crosscheck
df[['upholstery', 'upholstery_type', 'upholstery_color']].value_counts()

upholstery           upholstery_type  upholstery_color
Cloth, Black         Cloth            Black               5821
Part leather, Black  Part leather     Black               1121
Cloth, Grey          Cloth            Grey                 891
Cloth, Other         Cloth            Other                639
Full leather, Black  Full leather     Black                575
Other, Other         Other            Other                182
Part leather, Grey   Part leather     Grey                 116
Full leather, Brown  Full leather     Brown                116
Other, Black         Other            Black                110
Full leather, Other  Full leather     Other                 72
Full leather, Grey   Full leather     Grey                  67
Part leather, Other  Part leather     Other                 65
Part leather, Brown  Part leather     Brown                 50
alcantara, Black     alcantara        Black                 47
Velour, Black        Velour           Black                 36
Full leather, Beige  Full leather     Beige                 36
Cloth, Brown         Cloth            Brown                 28
Other, Grey          Other            Grey                  15
Cloth, Beige         Cloth            Beige                 13
Cloth, Blue          Cloth            Blue                  12
Cloth, White         Cloth            White                  8
Velour, Grey         Velour           Grey                   8
alcantara, Grey      alcantara        Grey                   6
Cloth, Red           Cloth            Red                    5
Other, Yellow        Other            Yellow                 4
Part leather, Red    Part leather     Red                    3
Part leather, Beige  Part leather     Beige                  2
Full leather, Blue   Full leather     Blue                   2
Part leather, White  Part leather     White                  2
alcantara, Other     alcantara        Other                  2
Other, Brown         Other            Brown                  1
Full leather, White  Full leather     White                  1
Full leather, Red    Full leather     Red                    1
Cloth, Orange        Cloth            Orange                 1
dtype: int64

In [113]:
df['upholstery_type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: upholstery_type
Non-Null Count  Dtype
--------------  -----
11416 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [114]:
df[['upholstery_color']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   upholstery_color  10841 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [115]:
df.drop(columns='upholstery', inplace=True)

#### 'nr_of_doors'

In [116]:
df['nr_of_doors'].value_counts(dropna=False)

5      11575
4       3079
3        832
2        219
NaN      212
1          1
7          1
Name: nr_of_doors, dtype: int64

In [117]:
df['nr_of_doors'] = df['nr_of_doors'].astype(float)

#### 'nr_of_seats'

In [118]:
df['nr_of_seats'].value_counts(dropna=False)

5      13336
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: nr_of_seats, dtype: int64

In [119]:
df['nr_of_seats'] = df['nr_of_seats'].astype(float)

#### 'model_code'

In [120]:
df['model_code'].value_counts(dropna=False)

NaN         10941
0035/BCB      268
0588/BNO      245
0588/BDB      206
0588/BHX      188
            ...
0035/AVN        1
0035/BEM        1
0035/BAG        1
0035/BAA        1
3333/BKG        1
Name: model_code, Length: 233, dtype: int64

In [121]:
df.drop(columns='model_code', inplace=True)

#### 'gearing_type'

In [122]:
df['gearing_type'].value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: gearing_type, dtype: int64

#### 'displacement'

In [123]:
df['displacement'].value_counts(dropna=False).head()

1,598 cc    4761
999 cc      2438
1,398 cc    1314
1,399 cc     749
1,229 cc     677
Name: displacement, dtype: int64

In [124]:
df['displacement'].str.replace(',', '').str.extract('(\d+)').astype(float)

             0
0     1422.000
1     1798.000
2     1598.000
3     1422.000
4     1422.000
...        ...
15914 1997.000
15915 1798.000
15916 1997.000
15917 1997.000
15918 1798.000

[15919 rows x 1 columns]

In [125]:
df['displacement'].str.replace(',', '').str.strip('c ').astype(float)

0       1422.000
1       1798.000
2       1598.000
3       1422.000
4       1422.000
          ...
15914   1997.000
15915   1798.000
15916   1997.000
15917   1997.000
15918   1798.000
Name: displacement, Length: 15919, dtype: float64

In [126]:
df['displacement'] = df['displacement'].str.replace(',', '').str.extract('(\d+)').astype(float)

In [127]:
df.rename(columns={'displacement':'displacement_cc'}, inplace=True)

#### 'cylinders'

In [128]:
df['cylinders'].value_counts(dropna=False)

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: cylinders, dtype: int64

In [129]:
df['cylinders'] = df['cylinders'].astype(float)

#### 'weight'

In [130]:
df['weight'].value_counts(dropna=False)

NaN         6974
1,163 kg     574
1,360 kg     356
1,165 kg     301
1,335 kg     242
            ...
1,960 kg       1
1,258 kg       1
1,167 kg       1
1,331 kg       1
2,037 kg       1
Name: weight, Length: 435, dtype: int64

In [131]:
df['weight'].str.replace(',', '').str.extract('(\d+)').astype(float).value_counts(dropna=False)

NaN         6974
1163.000     574
1360.000     356
1165.000     301
1335.000     242
            ...
1332.000       1
1683.000       1
1333.000       1
1343.000       1
1257.000       1
Length: 435, dtype: int64

In [132]:
df['weight'].str.replace(',', '').str.split(' kg').str[0].astype(float).value_counts(dropna=False)

NaN         6974
1163.000     574
1360.000     356
1165.000     301
1335.000     242
            ...
1960.000       1
1258.000       1
1167.000       1
1331.000       1
2037.000       1
Name: weight, Length: 435, dtype: int64

In [133]:
df['weight'] = df['weight'].str.replace(',', '').str.extract('(\d+)').astype(float)

In [134]:
df.rename(columns={'weight':'weight_kg'}, inplace=True)

#### 'drive_chain'

In [135]:
df['drive_chain'].value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

#### 'fuel'

In [136]:
df['fuel'].value_counts(dropna=False).tail()

Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                       1
Super Plus 98 / Super E10 95                                                                                 1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98    1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98    1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                 1
Name: fuel, dtype: int64

In [137]:
get_diff_category_column('fuel')

{0: 'Biodiesel',
 1: 'Biogas',
 2: 'CNG',
 3: 'CNG (Particulate Filter)',
 4: 'Diesel',
 5: 'Diesel (Particulate Filter)',
 6: 'Domestic gas H',
 7: 'Electric',
 8: 'Electric/Gasoline',
 9: 'Gasoline',
 10: 'Gasoline (Particulate Filter)',
 11: 'LPG',
 12: 'Liquid petroleum gas (LPG)',
 13: 'Others',
 14: 'Others (Particulate Filter)',
 15: 'Regular/Benzine 91',
 16: 'Regular/Benzine 91 (Particulate Filter)',
 17: 'Regular/Benzine E10 91',
 18: 'Regular/Benzine E10 91 (Particulate Filter)',
 19: 'Super 95',
 20: 'Super 95 (Particulate Filter)',
 21: 'Super E10 95',
 22: 'Super E10 95 (Particulate Filter)',
 23: 'Super Plus 98',
 24: 'Super Plus 98 (Particulate Filter)',
 25: 'Super Plus E10 98',
 26: 'Super Plus E10 98 (Particulate Filter)'}

In [138]:
# Count rows include or not include - fuel type
electric   = df['fuel'].astype(str).str.contains(pat="(?=.*Electric)(?!.*Gasoline)", case=False)
hybrit     = df['fuel'].astype(str).str.contains(pat="(?=.*Electric)(?=.*Gasoline)")
lpg_cng    = df['fuel'].astype(str).str.contains(pat="(LPG|CNG|Domestic|Biogas)")
diesel_par = df['fuel'].astype(str).str.contains(pat="(?=.*Diesel)(?=.*Particulate)")
diesel     = df['fuel'].astype(str).str.contains(pat="(?=.*Diesel)(?!.*Particulate)")
benzine    = df['fuel'].astype(str).str.contains(pat="(?=.*(Regular|Super|Gasoline|Others))(?=.*Particulate)")
benzine_par= df['fuel'].astype(str).str.contains(pat="(?<!Electric/)(Regular|Super|Gasoline|Others)(?!.*(Particulate))")

# display(electric.value_counts(), hybrit.value_counts(), lpg_cng.value_counts(), 
#         diesel_par.value_counts(), diesel.value_counts(), benzine.value_counts(), benzine_par.value_counts())

a = df['fuel'].copy()
a.mask(electric, other="Electric").mask(hybrit, other="Hybrit").mask(lpg_cng, other="LPG/CNG").mask(
    diesel_par, other="Diesel (Particulate Filter)").mask(diesel, other="Diesel").mask(benzine, other="Benzine").mask(
    benzine_par, other="Benzine (Particulate Filter)").value_counts()

Benzine (Particulate Filter)    8050
Diesel (Particulate Filter)     4315
Diesel                          2984
Benzine                          501
LPG/CNG                           64
Hybrit                             4
Electric                           1
Name: fuel, dtype: int64

In [139]:
group_dict = {
    'electric':"(?=.*Electric)(?!.*Gasoline)",
    'hybrit':"(?=.*Electric)(?=.*Gasoline)",
    'lpg_cng':"(LPG|CNG|Domestic|Biogas)",
    'diesel_par':"(?=.*Diesel)(?=.*Particulate)",
    'diesel':"(?=.*Diesel)(?!.*Particulate)",
    'benzine':"(Regular|Super|Gasoline|Others)(?=.*Particulate)",
    'benzine_par':"(?<!Electric/)(Regular|Super|Gasoline|Others)(?!.*(Particulate))",
}
group_dict

df_groups = pd.DataFrame()
for k,v in group_dict.items():
    df_groups[k] = df['fuel'].astype(str).str.contains(pat=v, case=False)

a = df['fuel'].copy()
for i in df_groups.columns.tolist():
    a = a.mask(df_groups[i], other=i)
    
a.value_counts()

benzine_par    8050
diesel_par     4315
diesel         2984
benzine         501
lpg_cng          64
hybrit            4
electric          1
Name: fuel, dtype: int64

In [140]:
benzine  = ["Gasoline", "Regular", "Others", "Super"]
diesel   = ["Biodiesel", "Diesel"]
lpg      = ["Biogas", "CNG", "Domestic gas H", "LPG"]
hibrit   = ['Electric/Gasoline']
Electric = ['Electric']

def fueltype(row):
    if all(i in row for i in hibrit):
        return "Hybrit"
    elif any(i in row for i in Electric):
        return "Electric"
    elif any(i in row for i in lpg):
        return "LPG/CNG"
    elif any(i in row for i in benzine):
        if "Particulate Filter" in row :
            return "Benzine (Particulate Filter)"
        else :
            return "Benzine"
    elif any(i in row for i in diesel):
        if "Particulate Filter" in row :
            return "Diesel (Particulate Filter)"
        else :
            return "Diesel"

In [141]:
df["fuel"] = df["fuel"].apply(fueltype)

In [142]:
df["fuel"].value_counts()

Benzine                         8050
Diesel (Particulate Filter)     4315
Diesel                          2984
Benzine (Particulate Filter)     501
LPG/CNG                           64
Hybrit                             4
Electric                           1
Name: fuel, dtype: int64

#### 'consumption'

In [143]:
df['consumption'].value_counts(dropna=False)

NaN                                                                       1906
3.9 l/100 km (comb)'],['4.1 l/100 km (city)'],['3.7 l/100 km (country)     304
4.2 l/100 km (comb)'],['5 l/100 km (city)'],['3.7 l/100 km (country)       276
5.4 l/100 km (comb)'],['6.8 l/100 km (city)'],['4.5 l/100 km (country)     257
3.8 l/100 km (comb)'],['4.3 l/100 km (city)'],['3.5 l/100 km (country)     253
                                                                          ...
6.8 l/100 km (comb)'],['8.2 l/100 km (city)'],['5.8 l/100 km (country)       1
3.9 l/100 km (comb)'],['4.8 l/100 km (city)'],['3.4 l/100 km (country)       1
3.7 l/100 km (comb)'],['4.5 l/100 km (city)'],['3.3 l/100 km (country)       1
4.2 l/100 km (comb)'],['5.3 l/100 km (city)'],['3.6 l/100 km (country)       1
7.4 l/100 km (comb),\n,9.6 l/100 km (city),\n,6 l/100 km (country)           1
Name: consumption, Length: 876, dtype: int64

In [144]:
df['consumption'].head(3)

0    3.8 l/100 km (comb)'],['4.3 l/100 km (city)'],...
1    5.6 l/100 km (comb)'],['7.1 l/100 km (city)'],...
2    3.8 l/100 km (comb)'],['4.4 l/100 km (city)'],...
Name: consumption, dtype: object

#### `Count` 'consumption'

##### `find` Count

In [145]:
# Count rows include - 'comb', 'city', 'country'
((df['consumption'].notna())&(df['consumption'].str.find('comb')!=-1)).sum()

13886

##### `extract` Count

In [146]:
df['consumption'].str.extract('(comb)').notna().sum()

0    13886
dtype: int64

##### `contains` Count

In [147]:
# Count rows include - 'comb', 'city', 'country'
display(
    df['consumption'].str.contains(pat="comb", case=True).value_counts(),
    df['consumption'].str.contains(pat="(city)", case=True).value_counts(),
    df['consumption'].str.contains(pat="(?=.*country)", case=True).value_counts()
)

True     13886
False      127
Name: consumption, dtype: int64

True     13483
False      530
Name: consumption, dtype: int64

True     13543
False      470
Name: consumption, dtype: int64

In [148]:
# Divide consumption and assign new Column - 'cons_comb', 'cons_city', 'cons_country'
df['cons_comb'] = df['consumption'].str.extract('(\d+\.\d+|\d+).{0,13}comb').astype(float)
df['cons_city'] = df['consumption'].str.extract('(\d+\.\d+|\d+).{0,13}city').astype(float)
df['cons_country'] = df['consumption'].str.extract('(\d+\.\d+|\d+).{0,13}country').astype(float)

In [149]:
df[['consumption', 'cons_comb', 'cons_city', 'cons_country']].sample(5)

,consumption,cons_comb,cons_city,cons_country
15482,"7.4 l/100 km (comb)'],['9.1 l/100 km (city)'],...",7.400,9.100,6.300
6841,"3.4 l/100 km (comb)'],['3.9 l/100 km (city)'],...",3.400,3.900,3.100
3030,"3.4 l/100 km (city)'],['3.8 l/100 km (country)",NaN,3.400,3.800
3228,"3.8 l/100 km (comb)'],['4.5 l/100 km (city)'],...",3.800,4.500,3.400
4375,"4.2 l/100 km (comb)'],['5 l/100 km (city)'],['...",4.200,5.000,3.700

In [150]:
df[['consumption', 'cons_comb', 'cons_city', 'cons_country']].notna().sum()

consumption     14013
cons_comb       13886
cons_city       13483
cons_country    13543
dtype: int64

In [151]:
df.drop(columns='consumption', inplace=True)

#### 'co_2_emission'

In [152]:
df['co_2_emission'].value_counts(dropna=False)

NaN                      2436
120 g CO2/km (comb)       740
99 g CO2/km (comb)        545
97 g CO2/km (comb)        537
104 g CO2/km (comb)       501
                         ...
14 g CO2/km (comb)          1
1,060 g CO2/km (comb)       1
51 g CO2/km (comb)          1
165 g CO2/km (comb)         1
193 g CO2/km (comb)         1
Name: co_2_emission, Length: 123, dtype: int64

In [153]:
df['co_2_emission'] = df['co_2_emission'].str.replace(',', '').str.extract('(\d+)').astype(float)

#### 'emission_class'

In [154]:
df['emission_class'].value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class, dtype: int64

#### 'comfort_&_convenience'

In [155]:
df['comfort_&_convenience'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort_&_convenience, Length: 6199, dtype: int64

In [156]:
get_diff_category_column('comfort_&_convenience')

{0: 'Air conditioning',
 1: 'Air suspension',
 2: 'Armrest',
 3: 'Automatic climate control',
 4: 'Auxiliary heating',
 5: 'Cruise control',
 6: 'Electric Starter',
 7: 'Electric tailgate',
 8: 'Electrical side mirrors',
 9: 'Electrically adjustable seats',
 10: 'Electrically heated windshield',
 11: 'Heads-up display',
 12: 'Heated steering wheel',
 13: 'Hill Holder',
 14: 'Keyless central door lock',
 15: 'Leather seats',
 16: 'Leather steering wheel',
 17: 'Light sensor',
 18: 'Lumbar support',
 19: 'Massage seats',
 20: 'Multi-function steering wheel',
 21: 'Navigation system',
 22: 'Panorama roof',
 23: 'Park Distance Control',
 24: 'Parking assist system camera',
 25: 'Parking assist system self-steering',
 26: 'Parking assist system sensors front',
 27: 'Parking assist system sensors rear',
 28: 'Power windows',
 29: 'Rain sensor',
 30: 'Seat heating',
 31: 'Seat ventilation',
 32: 'Split rear seats',
 33: 'Start-stop system',
 34: 'Sunroof',
 35: 'Tinted windows',
 36: 'Wind deflector',
 37: 'Windshield'}

In [157]:
df.rename(columns={'comfort_&_convenience':'comfort_convenience'}, inplace=True)

#### 'entertainment_&_media'

In [158]:
df['entertainment_&_media'].value_counts(dropna=False)

NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: entertainment_&_media, Length: 347, dtype: int64

In [159]:
get_diff_category_column('entertainment_&_media')

{0: 'Bluetooth',
 1: 'CD player',
 2: 'Digital radio',
 3: 'Hands-free equipment',
 4: 'MP3',
 5: 'On-board computer',
 6: 'Radio',
 7: 'Sound system',
 8: 'Television',
 9: 'USB'}

In [160]:
df.rename(columns={'entertainment_&_media':'entertainment_media'}, inplace=True)

#### 'extras'

In [161]:
df['extras'].value_counts(dropna=False)

Alloy wheels                                                                                               3245
NaN                                                                                                        2962
Alloy wheels,Touch screen                                                                                   697
Alloy wheels,Voice Control                                                                                  577
Alloy wheels,Touch screen,Voice Control                                                                     541
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: extras, Length: 660, dtype: int64

In [162]:
get_diff_category_column('extras')

{0: 'Alloy wheels',
 1: 'Cab or rented Car',
 2: 'Catalytic Converter',
 3: 'Handicapped enabled',
 4: 'Right hand drive',
 5: 'Roof rack',
 6: 'Shift paddles',
 7: 'Ski bag',
 8: 'Sliding door',
 9: 'Sport package',
 10: 'Sport seats',
 11: 'Sport suspension',
 12: 'Touch screen',
 13: 'Trailer hitch',
 14: 'Tuned car',
 15: 'Voice Control',
 16: 'Winter tyres'}

#### 'safety_&_security'

In [163]:
df['safety_&_security'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                               982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: safety_&_security, Length: 4444, dtype: int64

In [164]:
get_diff_category_column('safety_&_security')

{0: 'ABS',
 1: 'Adaptive Cruise Control',
 2: 'Adaptive headlights',
 3: 'Alarm system',
 4: 'Blind spot monitor',
 5: 'Central door lock',
 6: 'Central door lock with remote control',
 7: 'Daytime running lights',
 8: 'Driver drowsiness detection',
 9: 'Driver-side airbag',
 10: 'Electronic stability control',
 11: 'Emergency brake assistant',
 12: 'Emergency system',
 13: 'Fog lights',
 14: 'Head airbag',
 15: 'Immobilizer',
 16: 'Isofix',
 17: 'LED Daytime Running Lights',
 18: 'LED Headlights',
 19: 'Lane departure warning system',
 20: 'Night view assist',
 21: 'Passenger-side airbag',
 22: 'Power steering',
 23: 'Rear airbag',
 24: 'Side airbag',
 25: 'Tire pressure monitoring system',
 26: 'Traction control',
 27: 'Traffic sign recognition',
 28: 'Xenon headlights'}

In [165]:
df.rename(columns={'safety_&_security':'safety_security'}, inplace=True)

#### 'description'

In [166]:
df['description'].value_counts(dropna=False).head(2)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      669
Fahrzeugbeschreibung, Sichern Sie sich diesen Opel Astra K 1.4 Selection zum Top-Preis inklusive dem,AUTOHERO-RUNDUM-SORGLOS-PAKET, ,Infos:, 1. Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt , ,Komfort, ,Klimaanlage, ,Zentralverriegelung mit Fernbedienung, ,Berganfahr-Assistent (HSA, Hill Start Assist), ,Fensterheber elektrisch vorn,Multimedia, ,Bluetooth Freisprecheinrichtung mit Sprachsteuerung, ,Bordcomputer, ,Audiosystem R300 BT (Bluetooth / USB),Licht und Sicht, ,Außenspiegel elektr. verstell- und heizbar, ,Tagfahrlicht LED,Sicherheit, ,Isofix-Aufnahmen für Kindersitz an Rücksitz, ,Seitenairbag vorn, ,Wegfahrsperre, ,Reifendruck-Kontrollsystem, ,Elektronische Stabilitäts-Programm Plus (ESP), ,Bremsassistent (HBA), ,Elektronische Traktionskontrolle, ,Anti-Blockier-System (ABS), ,Kopf-Airbag-System, ,Airbag Fahrer-/Beifahrerseite,Weiteres, ,Servolenkung geschwindigkeitsabhängig, ,Laderaumabdeckung, ,Check-Control-System , Ihr ,AUTOHERO-RUNDUM-SORGLOS-PAKET, beinhaltet:,Kostenlose Lieferung in Ihre Nähe,Optische & technische Aufbereitung,Mindestens 12 Monate gültige HU und AU,1-Jahr-Premium-Garantie,Zulassung inklusive,14-Tage-Rückgaberecht,Markenunabhängige Inzahlungnahme,Individuelle Finanzierungen zu fairen Konditionen, ,HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:,:,https://www.autohero.com/de/opel-astra-k-1-4-selection/id/22e36c5c-443a-45dd-a10e-1af5add4f2e9/, ,Haftungsausschluss,:,Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten     27
Name: description, dtype: int64

In [167]:
df.drop(columns='description', inplace=True)

#### 'emission_label'

In [168]:
df['emission_label'].value_counts(dropna=False)

NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: emission_label, dtype: int64

In [169]:
df.drop(columns='emission_label', inplace=True)

#### 'gears'

In [170]:
df['gears'].value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: gears, dtype: int64

In [171]:
df['gears'] = df['gears'].astype(float)

#### 'country_version'

In [172]:
df['country_version'].value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

### Combining object columns
- Example: If the date and time of  are stored in separate object columns. Then combine these two columns into a single column, and then convert it to datetime format.

# Check Duplicate - Save file to csv

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   url                   15919 non-null  object
 1   make_model            15919 non-null  object
 2   short_description     15870 non-null  object
 3   body_type             15859 non-null  object
 4   price                 15919 non-null  int64
 5   km                    14895 non-null  float64
 6   prev_owner            9091 non-null   float64
 7   type                  15917 non-null  object
 8   previous_owners       9279 non-null   object
 9   next_inspection       3535 non-null   object
 10  inspection_new        3932 non-null   object
 11  warranty              9156 non-null   object
 12  full_service          6230 non-null   object
 13  non_smoking_vehicle   3460 non-null   object
 14  body_color            15322 non-null  object
 15  paint_type            10147 non-null  object
 16  nr_of_doors           15707 non-null  float64
 17  nr_of_seats           14942 non-null  float64
 18  gearing_type          15919 non-null  object
 19  displacement_cc       15423 non-null  float64
 20  cylinders             10239 non-null  float64
 21  weight_kg             8945 non-null   float64
 22  drive_chain           9061 non-null   object
 23  fuel                  15919 non-null  object
 24  co_2_emission         13483 non-null  float64
 25  emission_class        12291 non-null  object
 26  comfort_convenience   14999 non-null  object
 27  entertainment_media   14545 non-null  object
 28  extras                12957 non-null  object
 29  safety_security       14937 non-null  object
 30  gears                 11207 non-null  float64
 31  country_version       7586 non-null   object
 32  registration_year     14322 non-null  float64
 33  registration_month    14322 non-null  float64
 34  age                   14322 non-null  float64
 35  hp_kw                 15831 non-null  float64
 36  next_inspection_date  3535 non-null   object
 37  inspection_is_new     3932 non-null   object
 38  warranty_months       4853 non-null   float64
 39  upholstery_type       11416 non-null  object
 40  upholstery_color      10841 non-null  object
 41  cons_comb             13886 non-null  float64
 42  cons_city             13483 non-null  float64
 43  cons_country          13543 non-null  float64
dtypes: float64(17), int64(1), object(26)
memory usage: 5.3+ MB

- Because the url doesn't specify an exact uniqueness Duplicates have been deleted

In [174]:
df.to_csv('./scout_car_out_part_1.csv', index=False)

In [175]:
pd.read_csv('./scout_car_out_part_1.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   url                   15919 non-null  object
 1   make_model            15919 non-null  object
 2   short_description     15870 non-null  object
 3   body_type             15859 non-null  object
 4   price                 15919 non-null  int64
 5   km                    14895 non-null  float64
 6   prev_owner            9091 non-null   float64
 7   type                  15917 non-null  object
 8   previous_owners       9279 non-null   object
 9   next_inspection       3535 non-null   object
 10  inspection_new        3932 non-null   object
 11  warranty              9156 non-null   object
 12  full_service          6230 non-null   object
 13  non_smoking_vehicle   3460 non-null   object
 14  body_color            15322 non-null  object
 15  paint_type            10147 non-null  object
 16  nr_of_doors           15707 non-null  float64
 17  nr_of_seats           14942 non-null  float64
 18  gearing_type          15919 non-null  object
 19  displacement_cc       15423 non-null  float64
 20  cylinders             10239 non-null  float64
 21  weight_kg             8945 non-null   float64
 22  drive_chain           9061 non-null   object
 23  fuel                  15919 non-null  object
 24  co_2_emission         13483 non-null  float64
 25  emission_class        12291 non-null  object
 26  comfort_convenience   14999 non-null  object
 27  entertainment_media   14545 non-null  object
 28  extras                12957 non-null  object
 29  safety_security       14937 non-null  object
 30  gears                 11207 non-null  float64
 31  country_version       7586 non-null   object
 32  registration_year     14322 non-null  float64
 33  registration_month    14322 non-null  float64
 34  age                   14322 non-null  float64
 35  hp_kw                 15831 non-null  float64
 36  next_inspection_date  3535 non-null   object
 37  inspection_is_new     3932 non-null   object
 38  warranty_months       4853 non-null   float64
 39  upholstery_type       11416 non-null  object
 40  upholstery_color      10841 non-null  object
 41  cons_comb             13886 non-null  float64
 42  cons_city             13483 non-null  float64
 43  cons_country          13543 non-null  float64
dtypes: float64(17), int64(1), object(26)
memory usage: 5.3+ MB

# PART- 2 `( Handling With Missing Vales )`

# Other Codes

## Other Functions

In [176]:
def get_rows_diff_category(Series:pd.Series, exclude=''',/\n''', pattern=r'''[,\n]| /''', strip='''\\n' "!?|.,*+-_/]['''):
    import re
    df = pd.DataFrame()
    df[Series.name]  = Series.dropna().apply(str).str.strip(strip)
    df['category'] = df[Series.name].apply(lambda x: {*map(lambda x: x.strip(strip), filter(None, re.split(pattern, x)))})
    df['len'] = df['category'].apply(lambda x: len([*x]))
    df = df.sort_values(by='len', ascending=False)
    
    df_groups = {}
    def get_key_from_value(val, dic=df_groups):
        keys = [k for k, v in dic.items() for d in v if d == val]
        return keys[0] if keys else False
            
    for row in df['category']:  
        """
        scan top create columns uniquely
        """    
#         isalnum = all(x.isalnum() for x in row) 
        check_col = any(any(col in r for r in row) for col in df_groups.keys())
        check_col_r = any(any(r in col for r in row) for col in df_groups.keys())
        
        check_data = any(any(data in r for r in row) for data in {d for data in df_groups.values() for d in data})
        check_data_r = any(any(r in data for r in row) for data in {d for data in df_groups.values() for d in data})
        
        condition = not ((check_col or check_col_r) or (check_data or check_data_r)) 
        
        if len((*row,)) and condition:  
#             df_groups[next(iter(row))] = {*row}
            df_groups[[*row][0]] = {*row}
    
    for row in df['category']:   
        """
        scan top fill column 
        """
        for data in row:  
#             check_col   = any(col in data for col in df_groups.keys())
#             check_col_r = any(data in col for col in df_groups.keys())                
#             check_data   = any(d in data for d in {d for data in df_groups.values() for d in data})
#             check_data_r = any(data in d for d in {d for data in df_groups.values() for d in data})                
#             check_data   = any(any(d in data for d in setd) for setd in df_groups.values())
#             check_data_r = any(any(data in d for d in setd) for setd in df_groups.values())
        
#             get_col_r = {*filter(None, map(lambda k: k if data in k else False, filter(None, df_groups.keys())))}
#             get_val_r = {*filter(None, map(lambda d: data if data in d else False, filter(None, {d for data in df_groups.values() for d in data})))}
#             condk_r = get_val_r.pop() if any(get_val_r) else False
#             condc_r = get_val_r.pop() if any(get_val_r) else False

            get_col = {*filter(None, map(lambda k: k if k in data else False, filter(None, df_groups.keys())))}
            get_val = {*filter(None, map(lambda d: d if d in data else False, filter(None, 
                                                    {d for data in df_groups.values() for d in data})))}

            cond_col = get_col.pop() if any(get_col) else False
            cond_data = sorted(get_val, reverse=True).pop() if any(get_val) else False
            cond_key = get_key_from_value(cond_data, df_groups)
             
            if cond_col: 
                df_groups[cond_col] = df_groups[cond_col].union({(data)})

            if cond_key: 
                df_groups[cond_key] = df_groups[cond_key].union({(data)})
        
    for k,v in df_groups.items():
        df_groups[k]=[*v]
    return pd.DataFrame.from_dict(data=df_groups, orient='index').T

In [177]:
a = get_rows_diff_category(df_origin['Fuel'])
a

,Super E10 95,Gasoline,Diesel,Others,LPG,Electric,CNG,Domestic gas H,Biogas
0,Super Plus 98 (Particulate Filter),Gasoline (Particulate Filter),Diesel,Others,Liquid petroleum gas (LPG),Electric,CNG (Particulate Filter),Domestic gas H,Biogas
1,Super E10 95,Gasoline,Diesel (Particulate Filter),Others (Particulate Filter),LPG,Electric/Gasoline,CNG,None,None
2,Regular/Benzine E10 91,None,None,None,None,None,None,None,None
3,Super E10 95 (Particulate Filter),None,None,None,None,None,None,None,None
4,Super 95,None,None,None,None,None,None,None,None
5,Regular/Benzine 91 (Particulate Filter),None,None,None,None,None,None,None,None
6,Super Plus E10 98,None,None,None,None,None,None,None,None
7,Super Plus 98,None,None,None,None,None,None,None,None
8,Super 95 (Particulate Filter),None,None,None,None,None,None,None,None
9,Regular/Benzine 91,None,None,None,None,None,None,None,None
10,Regular/Benzine E10 91 (Particulate Filter),None,None,None,None,None,None,None,None
11,Super Plus E10 98 (Particulate Filter),None,None,None,None,None,None,None,None

<a id="10"></a>

<p style="background-color:romance; color:plum; font-size:220%; text-align:center; border-radius:10px 10px; font-family:newtimeroman; line-height:1.4; font-weight:bold; text-transform: uppercase;">The End of the Project: Part One</p>

<a href="#content" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>